<html><head><meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<title>Template Implementation Manual</title>
<style>
<!--
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Arial;}
h3           { font-family: Arial; font-size: 12pt; font-weight: bold }
h1
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:2.0cm;
	text-indent:-2.0cm;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:Arial;}
h2
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:2.0cm;
	text-indent:-2.0cm;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:Arial;
	font-style:italic;}
a:link
	{color:blue;}
a:visited
	{color:purple;
	text-decoration:none;}
p.TitlePanelHeader
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:10.0pt;
	font-family:Verdana;
	font-weight:bold;}
span.TitlePanelbold
	{font-family:Verdana;
	font-weight:bold;}
span.TitlePanelstd
	{font-family:Verdana;}
p.TitlePanelblocktext
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:7.0pt;
	font-family:Verdana;
	text-transform:uppercase;
	font-weight:bold;}
span.TitlePanelitalic
	{font-family:Verdana;
	font-style:italic;}
p.Un-numberedHeading1
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	font-size:14.0pt;
	font-family:Arial;
	font-weight:bold;}
span.TableHeading
	{font-family:Arial;
	font-weight:bold;}
p.TableText
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Arial;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head><STYLE>
A {text-decoration: none;} 
	{margin-bottom:0cm;}
div.index1 {
font-family:Arial;
font-size:12.0pt;}

div.index1 {
font-family:Arial;
font-size:12.0pt;)	
-->
</STYLE>  



<body lang=EN-GB link=blue vlink=purple><div class=Section1><table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'><tr style='page-break-inside:avoid'><td width=144 rowspan=7 valign=top style='width:108.25pt;border:none;
  border-right:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm'><p class=MsoNormal><span
  lang=EN-US>
		<img src="../../../../Core/Change_files/image001.jpg" width="139" height="89"></span></p></td>
		<td width=521 colspan=4 valign=top style='width:391.0pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 2.85pt 0cm 2.85pt'><p class=TitlePanelHeader>
		RiskToPatientRef&nbsp; Change History</p></td></tr><tr style='page-break-inside:avoid'><td width=108 valign=top style='width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 2.85pt 0cm 2.85pt'><p class=MsoNormal><span class=TitlePanelstd><span style='font-size:7.0pt'>Programme</span></span></p></td>
		<td valign=top style='border-right:1.0pt solid windowtext; border-top:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext; width:126px;border-left:medium none;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal><span class=TitlePanelstd><span style='font-size:7.0pt'>NPFIT</span></span></p></td>
		<td colspan=2 valign=top style='border-right:1.0pt solid windowtext; border-top:1.0pt solid windowtext; border-bottom:1.0pt solid windowtext; width:323px;border-left:medium none;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=TitlePanelblocktext>DOCUMENT NUMBER</p></td></tr><tr style='page-break-inside:avoid'><td width=108 valign=top style='width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 2.85pt 0cm 2.85pt'><p class=MsoNormal><span class=TitlePanelstd><span style='font-size:7.0pt'>Sub-Prog/Project</span></span></p></td>
		<td valign=top style='width:126px;border-top:medium none;border-left:
  medium none;border-bottom:1.0pt solid windowtext;border-right:1.0pt solid windowtext;
  padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal><span class=TitlePanelstd><span style='font-size:7.0pt'>Comms &amp; Messaging</span></span></p></td>
		<td valign=middle style='border-top:medium none;border-left:medium none;
  border-bottom:1.0pt solid windowtext;border-right:1.0pt solid windowtext;
  padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm' colspan="2" rowspan="3" align="center">
		NPFIT-FNT-TO-DPM-0603</td></tr><tr style='page-break-inside:avoid'><td width=108 valign=top style='width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 2.85pt 0cm 2.85pt'><p class=MsoNormal><span class=TitlePanelstd><span style='font-size:7.0pt'>Prog. Director</span></span></p></td>
		<td valign=top style='width:126px;border-top:medium none;border-left:
  medium none;border-bottom:1.0pt solid windowtext;border-right:1.0pt solid windowtext;
  padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal>
		<span class="TitlePanelstd"><span style="font-size: 7pt">Paul</span><span style='font-size:7.0pt'> Jones</span></span></p></td>
		</tr><tr style='page-break-inside:avoid'><td width=108 valign=top style='width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 2.85pt 0cm 2.85pt'><p class=MsoNormal><span class=TitlePanelstd><span style='font-size:7.0pt'>Sub-Prog/Proj Mgr</span></span></p></td>
		<td valign=top style='width:126px;border-top:medium none;border-left:
  medium none;border-bottom:1.0pt solid windowtext;border-right:1.0pt solid windowtext;
  padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal>
		<span class="TitlePanelstd"><span style="font-size: 7pt">Ken Lunn</span></span></p></td></tr><tr style='page-break-inside:avoid'><td width=108 valign=top style='width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 2.85pt 0cm 2.85pt'><p class=MsoNormal><span class=TitlePanelstd><span style='font-size:7.0pt'>Author</span></span></p></td>
		<td valign=top style='width:126px;border-top:medium none;border-left:
  medium none;border-bottom:1.0pt solid windowtext;border-right:1.0pt solid windowtext;
  padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal><span class=TitlePanelstd><span style='font-size:7.0pt'>C</span><span style="font-size: 7pt">&amp;M 
		Development Team</span></span></p></td>
		<td valign=top style='width:132px;border-top:medium none;
  border-left:medium none;border-bottom:1.0pt solid windowtext;border-right:1.0pt solid windowtext;
  padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal><span class=TitlePanelstd><span style='font-size:7.0pt'>Version No.</span></span></p></td>
			<td width=165 valign=top style='width:123.6pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
			<p class="MsoNormal"><span class="TitlePanelstd">
			<span style="font-size: 7pt">1.0</span></span></td></tr><tr style='page-break-inside:avoid'><td width=108 valign=top style='width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 2.85pt 0cm 2.85pt'><p class=MsoNormal><span class=TitlePanelstd>
		<span style='font-size:7.0pt'>Contact</span></span></p></td>
		<td valign=top style='width:126px;border-top:medium none;border-left:
  medium none;border-bottom:1.0pt solid windowtext;border-right:1.0pt solid windowtext;
  padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal>
		<span class="TitlePanelstd"><span style="font-size: 7pt">Richard 
		Kavanagh</span></span></p></td>
		<td valign=top style='width:132px;border-top:medium none;
  border-left:medium none;border-bottom:1.0pt solid windowtext;border-right:1.0pt solid windowtext;
  padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal><span class=TitlePanelstd><span style='font-size:7.0pt'>Status</span></span></p></td>
			<td width=165 valign=top style='width:123.6pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 2.85pt 0cm 2.85pt'><p class=MsoNormal><span class="TitlePanelstd">
		<span style="font-size: 7pt">Draft</span></span></p></td></tr></table><p class=MsoNormal>&nbsp;</p><div class=MsoNormal align=center style='text-align:center'><hr size=2 width="100%" align=center></div><p class=MsoNormal>&nbsp;</p><p class=Un-numberedHeading1>Contents</p><div class="index1" div id="fp_TOC" class="fp_TOC"><a href="#_Toc_Section_1">1&nbsp;&nbsp;&nbsp;&nbsp;COCD_TP147026UK03</a><br><a href="#_Toc_Section_2">2&nbsp;&nbsp;&nbsp;&nbsp;COCD_TP147026UK02</a><br><a href="#_Toc_Section_3">3&nbsp;&nbsp;&nbsp;&nbsp;COCD_TP147026UK01</a><br><a href="#_Toc_Section_4">4&nbsp;&nbsp;&nbsp;&nbsp;COTM_MT147026UK01</a></div><p class=MsoNormal>&nbsp;</p>
	<div class="Section1">
		<p class="Un-numberedHeading1">Change History</p>
	</div><div class=MsoNormal align=center style='text-align:center'><hr size=2 width="100%" align=center></div>      
	<h1><a name=_Toc_Section_1></a>1&nbsp;&nbsp;&nbsp;&nbsp;COCD_TP147026UK03</h1>	<div class="Section1">
		<p class="MsoNormal">&nbsp;</div>
	<table class=MsoTableGrid border=1 cellspacing=3 cellpadding=0
 style='width:1015px' id="table8">
		<!-- MSTableType="nolayout" -->
		<tr>
		<td valign=top style='width:206px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal>
		<b><font size="3">Previous Artefact Id</font></b></p></td>
		<td valign=top style='width:206px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'>
		<font face="Arial">
		<b>MIM Version</b></font></td>
		<td valign=top style='width:193px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal>
		<font size="3"><b>Class</b></font></p></td>
		<td valign=top style='width:193px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'>
		<font size="3" face="Arial"><b>Attribute</b></font></td>
		<td valign=top style='width:380px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal>
		<font size="3"><b>Details of change</b></font></p></td></tr><tr>
		<td valign=top style='width:206px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=TableText>
		<font size="3">COCD_TP147026UK02</font></p></td>
		<td valign=top style='width:206px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'>
		<p class="TableText">
		<font face="Arial" size="3">6.1.02</font></td>
		<td valign=top style='width:193px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=TableText>
		<font size="3">N/A</font></p></td>
		<td valign=top style='width:193px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'>
		<p class="TableText">
		<font face="Arial" size="3">N/A</font></td>
		<td valign=top style='width:380px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=TableText>
		<font size="3">Artefact Id upversioned due to removal of code system 
		version. Therefore, the following dataTypes have been discontinued: 
		Versioned Coded Plain and Versioned Coded with Code System.</font></p></td></tr>
	</table>
	<h1><a name=_Toc_Section_2></a>2&nbsp;&nbsp;&nbsp;&nbsp;COCD_TP147026UK02</h1>	<p></p>
	<table class="MsoTableGrid" style="width: 1015px" id="table7" border="1" cellpadding="0" cellspacing="3">
		<!-- MSTableType="nolayout" -->
		<tr>
			<td style="width: 173px; padding-left: 2.85pt; padding-right: 2.85pt; padding-top: 0cm; padding-bottom: 0cm" valign="top">
			<p class="MsoNormal"><b><font size="3">Previous Artefact id</font></b></td>
			<td style="width: 95px; padding-left: 2.85pt; padding-right: 2.85pt; padding-top: 0cm; padding-bottom: 0cm" valign="top">
			<font face="Arial"><b>MIM Version</b></font></td>
			<td style="width: 96px; padding-left: 2.85pt; padding-right: 2.85pt; padding-top: 0cm; padding-bottom: 0cm" valign="top">
			<p class="MsoNormal"><font size="3"><b>Class</b></font></td>
			<td style="width: 118px; padding-left: 2.85pt; padding-right: 2.85pt; padding-top: 0cm; padding-bottom: 0cm" valign="top">
			<font face="Arial" size="3"><b>Attribute</b></font></td>
			<td style="width: 411px; padding-left: 2.85pt; padding-right: 2.85pt; padding-top: 0cm; padding-bottom: 0cm" valign="top">
			<p class="MsoNormal"><font size="3"><b>Details of change</b></font></td>
		</tr>
		<tr>
			<td style="width: 173px; padding-left: 2.85pt; padding-right: 2.85pt; padding-top: 0cm; padding-bottom: 0cm" valign="top">
			<p class="TableText"><font size="3">COCD_TP147026UK01</font></td>
			<td style="width: 95px; padding-left: 2.85pt; padding-right: 2.85pt; padding-top: 0cm; padding-bottom: 0cm" valign="top">
			<p class="TableText">
			<font face="Arial" size="3">6.1.01</font></td>
			<td style="width: 96px; padding-left: 2.85pt; padding-right: 2.85pt; padding-top: 0cm; padding-bottom: 0cm" valign="top">
			<p class="TableText"><font size="3">Various</font></td>
			<td style="width: 118px; padding-left: 2.85pt; padding-right: 2.85pt; padding-top: 0cm; padding-bottom: 0cm" valign="top">
			<p class="TableText">
			<font face="Arial" size="3">N/A</font></td>
			<td style="width: 411px; padding-left: 2.85pt; padding-right: 2.85pt; padding-top: 0cm; padding-bottom: 0cm" valign="top">
			<p class="TableText">
			<font face="Arial" size="3">Version of template up versioned due to changes 
			in templating implementation following input from HL7.</font></p>
			<ul>
				<font face="Arial">
				<li>
				<p class="TableText"><font size="3">Discontinuation of use of typeId.</font></li>
				<li>
				<p class="TableText"><font size="3">New local attribute of contentId</font></li>
				<li>
				<p class="TableText"><font size="3">Change of use of templateId 
				</font> </li>
				</font>
			</ul>
			<p class="TableText"><font face="Arial" size="3">Please see
			<a href="../../../CDA/NPFiT%20CDA%20using%20Templates.htm">NPFiT CDA 
			using Templates.htm</a> for further details on the use of these 
			attributes and the templating mechanism used.</font></td>
		</tr>
	</table>
	<h1><a name=_Toc_Section_3></a>3&nbsp;&nbsp;&nbsp;&nbsp;COCD_TP147026UK01</h1>	<div class="Section1">
		<p class="MsoNormal">&nbsp;</div>
	<table class=MsoTableGrid border=1 cellspacing=3 cellpadding=0
 style='width:1015px' id="table6">
		<!-- MSTableType="nolayout" -->
		<tr>
		<td valign=top style='width:206px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal>
		<b><font size="3">Previous Artefact Id</font></b></p></td>
		<td valign=top style='width:206px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'>
		<font face="Arial">
		<b>MIM Version</b></font></td>
		<td valign=top style='width:193px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal>
		<font size="3"><b>Class</b></font></p></td>
		<td valign=top style='width:193px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'>
		<font size="3" face="Arial"><b>Attribute</b></font></td>
		<td valign=top style='width:380px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal>
		<font size="3"><b>Details of change</b></font></p></td></tr><tr>
		<td valign=top style='width:206px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=TableText>
		<font size="3">COTM_MT147026UK01</font></p></td>
		<td valign=top style='width:206px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'>
		<p class="TableText"><font size="3">6.1</font></td>
		<td valign=top style='width:193px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=TableText>
		<font size="3">N/A</font></p></td>
		<td valign=top style='width:193px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'>
		<p class="TableText"><font size="3">N/A</font></td>
		<td valign=top style='width:380px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=TableText>
		<font size="3">Change of artefact Id </font></p></td></tr>
		</table>
	<h1><a name=_Toc_Section_4></a>4&nbsp;&nbsp;&nbsp;&nbsp;COTM_MT147026UK01</h1>	<p class="TableText">&nbsp;</p>
	<table class=MsoTableGrid border=1 cellspacing=3 cellpadding=0
 style='width:1014px' id="table5"><tr>
		<td valign=top style='width:195px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal>
		<b><font size="3">Previous Artefact Id</font></b></p></td>
		<td valign=top style='width:162px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal>
		<b>MIM Version</b></p></td>
		<td valign=top style='width:149px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'>
		<font size="3" face="Arial"><b>Class</b></font></td>
		<td valign=top style='width:165px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'>
		<font size="3" face="Arial"><b>Attribute</b></font></td>
		<td valign=top style='width:282px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=MsoNormal>
		<font size="3"><b>Details of change</b></font></p></td></tr><tr>
		<td valign=top style='width:195px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=TableText>
		<font size="3">N/A</font></p></td>
		<td valign=top style='width:162px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=TableText>
		<font size="3">6.0</font></p></td>
		<td valign=top style='width:149px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'>
		<p class="TableText"><font size="3">N/A</font></td>
		<td valign=top style='width:165px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'>
		<p class="TableText"><font size="3">N/A</font></td>
		<td valign=top style='width:282px;padding-left:2.85pt; padding-right:2.85pt; padding-top:0cm; padding-bottom:0cm'><p class=TableText>
		<font size="3">First version of template</font></p></td></tr>
	</table>
	<p class="TableText">&nbsp;</p>
	</div>
</body></html>