<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Template Implementation Manual - Change History</title>
<link rel="stylesheet" href="../../../../Core/Stylesheets/IMCommon_v3.css" type="text/css">
<link rel="stylesheet" href="../../../../Core/Stylesheets/helpertables.css" type="text/css">
</head>

<body lang="EN-GB" link="blue" vlink="purple">

<div id="header">
	<p>Template Implementation Manual - Change History </p>
</div>
<div id="content">
	<div class="Section1">
		<p class="MsoNormal">&nbsp;</p>
		<p class="MsoNormal">&nbsp;</p>
		<p class="Un-numberedHeading1">Contents</p>
		<div class="index1" div id="fp_TOC" class="fp_TOC">
			<a href="#_Toc_Section_1">1&nbsp;&nbsp;&nbsp;&nbsp;Version 2.8</a><br><a href="#_Toc_Section_2">2&nbsp;&nbsp;&nbsp;&nbsp;Version 2.7</a><br><a href="#_Toc_Section_3">3&nbsp;&nbsp;&nbsp;&nbsp;Version 2.5</a><br><a href="#_Toc_Section_4">4&nbsp;&nbsp;&nbsp;&nbsp;Version 2.4</a><br><a href="#_Toc_Section_5">5&nbsp;&nbsp;&nbsp;&nbsp;Version 2.3</a><br><a href="#_Toc_Section_6">6&nbsp;&nbsp;&nbsp;&nbsp;Version 
		2.2</a><br><a href="#_Toc_Section_7">7&nbsp;&nbsp;&nbsp;&nbsp;Version 2.1</a><br><a href="#_Toc_Section_8">8&nbsp;&nbsp;&nbsp;&nbsp;Version 2.0</a><br><a href="#_Toc_Section_9">9&nbsp;&nbsp;&nbsp;&nbsp;Version 1.0</a></div>
		<p class="MsoNormal">&nbsp;</p>
		<div class="Section1">
			<p class="Un-numberedHeading1">Change History</p>
		</div>
		<div class="MsoNormal" align="center" style="text-align:center">
			<hr size="2" width="100%" align="center"></div>
		<h1><a name=_Toc_Section_1></a>1&nbsp;&nbsp;&nbsp;&nbsp;Version 2.8</h1>		<table class="helper" border="1" cellspacing="3" cellpadding="0" id="table13" height="84">
			<tr>
				<th width="124">MIM Version</th>
				<th>Details of change</th>
			</tr>
			<tr>
				<td align="left" valign="top">7.2.00</td>
				<td>New versions of following templates ( new ids stated )<ul>
					<li>CarePlanComponent - COCD_TP146076UK02</li>
					<li>Service - COCD_146021UK05</li>
					<li>RecipientEntitySDS - COCD_TP145021UK03</li>
					<li>Accomodation - COCD_TP146074UK02</li>
					<li>Employment - COCD_TP146073UK02 </li>
					<li>AssessmentEvent - COCD_TP146065UK02</li>
				</ul>
				<p>New template</p>
				<ul>
					<li>Assessment - COCD_TP146100UK01</li>
				</ul>
				<p>&nbsp;</td>
			</tr>
			</table>

		<h1><a name=_Toc_Section_2></a>2&nbsp;&nbsp;&nbsp;&nbsp;Version 2.7</h1>		<table class="helper" border="1" cellspacing="3" cellpadding="0" id="table12" height="84">
			<tr>
				<th width="124">MIM Version</th>
				<th>Details of change</th>
			</tr>
			<tr>
				<td align="left" valign="top">7.1.00</td>
				<td>The following templates have been added:<ul>
					<li>PatientWithLanguage -
					<a href="../Templates%20IM.htm#_Toc_Section_1.24">
					COCD_TP145026UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_1.23">
					ServiceDeliveryLocationDetails - COCD_TP145025UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.43">
					AssessmentEvent - COCD_TP146065UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.44">
					PhysicalWellBeing - COCD_TP146066UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.45">
					ActivityOfDailyLiving - COCD_TP146067UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.46">
					Housing - COCD_TP146068UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.47">
					Mobility - COCD_TP146069UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.48">
					MentalEmotionalWellBeing - COCD_TP146070UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.49">
					Finances - COCD_TP146071UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.50">
					SecurityAbuseDiscrimination - COCD_TP146072UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.51">
					Employment - COCD_TP146073UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.52">
					Accommodation - COCD_TP146074UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.53">
					CarePlan - COCD_TP146075UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.54">
					CarePlanComponent - COCD_TP146076UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.55">
					DIProcedure - COCD_TP146077UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.56">
					DIReportStatus - COCD_TP146078UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.57">
					DICOMObjectModel - COCD_TP146079UK01</a></li>
					<li>DiagnosticImaging<a href="../Templates%20IM.htm#_Toc_Section_2.58">Order 
					- COCD_TP146080UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.59">
					DIProcedureEvent - COCD_TP146081UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.60">
					DIUrgencyIndicator - COCD_TP146082UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.61">
					ContactStatus - COCD_TP146090UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.62">
					SubstanceMisuse - COCD_TP146091UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.63">
					LegalResponsibility - COCD_TP146092UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.64">
					LegalStatus - COCD_TP146093UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.65">
					MHATribunalDecision - COCD_TP146094UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.66">
					ProtectionRegister - COCD_TP146095UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.67">
					CareProcessAdministration - COCD_TP146096UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.68">
					CareReviewAdministration - COCD_TP146097UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.69">
					OtherEntityAssociatedWithPatient - COCD_TP146098UK01</a></li>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.70">
					NonLingualCommunication - COCD_TP146099UK01</a></li>
				</ul>
				<p>The following templates have been upversioned:</p>
				<ul>
					<li><a href="../Templates%20IM.htm#_Toc_Section_2.41">
					TextSection - COCD_TP146061UK02</a></li>
					<li>EntitySDSwithRequiredRoleProfileId - COCD_TP145022UK02</li>
					<li>RecipientEntitySDS - COCD_TP145021UK03</li>
				</ul>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>Note there was a error in the domain version number in MIM 
				7.0.00 which has been addressed here. ( IM domain was 
				incorrectly up versioned to 2.6 instead of 2.5)</td>
			</tr>
			</table>

		<h1><a name=_Toc_Section_3></a>3&nbsp;&nbsp;&nbsp;&nbsp;Version 2.5</h1>		<table class="helper" border="1" cellspacing="3" cellpadding="0" id="table11" height="84">
			<tr>
				<th width="124">MIM Version</th>
				<th>Details of change</th>
			</tr>
			<tr>
				<td align="left" valign="top">7.0.00</td>
				<td>New admission template added</td>
			</tr>
			</table>

		<h1><a name=_Toc_Section_4></a>4&nbsp;&nbsp;&nbsp;&nbsp;Version 2.4</h1>		<table class="helper" border="1" cellspacing="3" cellpadding="0" id="table10" height="84">
			<tr>
				<th width="124">MIM Version</th>
				<th>Details of change</th>
			</tr>
			<tr>
				<td align="left" valign="top" rowspan="9">6.3.00</td>
				<td>Removal of clinically relevant time template</td>
			</tr>
			<tr>
				<td>New EncompassingEncounter template </td>
			</tr>
			<tr>
				<td>New HealthCareFacility template</td>
			</tr>
			<tr>
				<td>New common section template</td>
			</tr>
			<tr>
				<td>Removal of Discharge Business , CRE type and section 
				templates</td>
			</tr>
			<tr>
				<td>Removal of Emergency Department Business , CRE type and 
				section templates</td>
			</tr>
			<tr>
				<td>Removal of&nbsp; Out&nbsp; Patient Business , CRE type and 
				section templates</td>
			</tr>
			<tr>
				<td>Removal of HealthSpace Business , CRE type and section 
				templates</td>
			</tr>
			<tr>
				<td>Removal of domain specific headings within the IM file due 
				to use of a common section</td>
			</tr>
			</table>

		<h1><a name=_Toc_Section_5></a>5&nbsp;&nbsp;&nbsp;&nbsp;Version 2.3</h1>		<table class="helper" border="1" cellspacing="3" cellpadding="0" id="table9" height="84">
			<tr>
				<th width="124">MIM Version</th>
				<th>Details of change</th>
			</tr>
			<tr>
				<td align="left" valign="top" rowspan="2">6.2.00</td>
				<td>Removed the following templates as references to sealed and 
				unsealed items are no 
				longer carried 
				within the CDA documents:<ul>
					<li>DocumentHeaderRef - COCD_TP147040UK03</li>
					<li>TextSectionRef - COCD_TP147039UK03</li>
				</ul>
				<p>Added further guidance to usage of Snomed subsets to template 
				tabular views.</p>
				<p>&nbsp;</p>
				<p>Removed the Workgroup Template (COCD_TP145015UK03), and added 
				the Assessor template (COCD_TP145023UK01).</p>
				<p>&nbsp;</td>
			</tr>
			<tr>
				<td>Added guidance on use of templates in Non CDA domains to 
				overview</td>
			</tr>
			</table>

		<h1><a name=_Toc_Section_6></a>6&nbsp;&nbsp;&nbsp;&nbsp;Version 
		2.2</h1>		<table class="helper" border="1" cellspacing="3" cellpadding="0" id="table8" height="84">
			<tr>
				<th width="124">MIM Version</th>
				<th>Details of change</th>
			</tr>
			<tr>
				<td align="left" valign="top" rowspan="3">6.1.02</td>
				<td>New template EntitySDSwithRequiredRoleProfileId - 
				COCD_TP145022UK01 used to represent an assigned entity role where the details are available on SDS but the persons role profile id may not be available.
				<p>&nbsp;</td>
			</tr>
			<tr>
				<td>All artefacts are upversioned due to removal of code system 
				version. Therefore, the following dataTypes have been 
				discontinued: Versioned Coded Plain and Versioned Coded with 
				Code System.</td>
			</tr>
			<tr>
				<td>Changed description of EntitySDSwithRequiredRoleProfileId to 
				clarify role profile id usage</td>
			</tr>
			</table>

		<h1><a name=_Toc_Section_7></a>7&nbsp;&nbsp;&nbsp;&nbsp;Version 2.1</h1>		<table class="helper" border="1" cellspacing="3" cellpadding="0" id="table7">
			<tr>
				<th width="120">MIM Version</th>
				<th>Details of change</th>
			</tr>
			<tr>
				<td rowspan="7" align="left" valign="top">6.1.01<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</td>
				<td>Changed description of rules about use of templates in 
				section 1.1 to include use of contentId.<br>
			Moved example XML files to a subdirectory within the Examples 
			folder.</td>
			</tr>
			<tr>
				<td>Removed text regarding <font face="Arial">Additional 
				outbound act relationships may be added to any act in the 
				template.</font></td>
			</tr>
			<tr>
				<td>
		<font face="Arial">Artefacts upversioned, due to changes in templating mechanism.<ul>
	<li>Discontinuation of use of typeId.</li>
	<li>New local attribute of contentId</li>
	<li>Change of use of templateId</li>
</ul>
<p>Please see 
<a href="../../../CDA/NPFiT%20CDA%20using%20Templates.htm">NPFiT CDA using Templates.htm</a> for further details on the use of 
these attributes and the templating mechanism used.</font></p>

				</td>
			</tr>
			<tr>
				<td>
		<font face="Arial">&nbsp; Change in the cardinality of the informationRecipient 
	from 1..2 to 1..*, to align with the business requirements.&nbsp;</font></td>
			</tr>
			<tr>
				<td>
		&nbsp;
		Fixed typo's in tabular views</td>
			</tr>
			<tr>
				<td>
		&nbsp; AdministrationType vocabulary now named CDAAdministrationType<p>
		JobRoleName vocabulary now named CDAJobRoleName</p>
		<p>PrescriptionAnnotation vocabulary now named CDAJobRoleName</p>
		<p>OrganizationType vocabulary now named CDAOrganizationType</p>
		<p>PersonRelationshipType vocabulary now named CDAPersonRelationshipType</p>
		<p>CodeSystemVersion added to all non HL7 and Non Snomed Vocabualaries using 
		new datatypes flavours of Versioned Coded Plain and Versioned Code with 
		Code System</td>
			</tr>
			<tr>
				<td>
		&nbsp;</td>
			</tr>
			</table>

		<h1><a name=_Toc_Section_8></a>8&nbsp;&nbsp;&nbsp;&nbsp;Version 2.0</h1>		<table class="helper" border="1" cellspacing="3" cellpadding="0" id="table6">
			<tr>
				<th width="120">MIM Version</th>
				<th>Details of change</th>
			</tr>
			<tr>
				<td>6.1.00</td>
				<td>Renamed allergy templates see individual change histories for details.</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>Renamed medication administration templates see individual change histories for details.</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>Separate templates created for Business section, CRE section and text section for each domain.</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
				All templates have had device removed from author participation 
				- Human author will attest that machine reading , print-outs etc 
				are correct for summary record.</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>Depreciated DeviceNonSDSWithOrgNonSDS template.</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>New Patient template.</td>
			</tr>
		</table>

		<h1><a name=_Toc_Section_9></a>9&nbsp;&nbsp;&nbsp;&nbsp;Version 1.0</h1>
		<table class="helper" border="1" cellspacing="0" cellpadding="2" id="table5">
			<tr>
				<th width="120">MIM Version</th>
				<th>Details of change</th>
			</tr>
			<tr>
				<td>6.0.00</td>
				<td>First version of template IM file</td>
			</tr>
		</table>
		
	</div>
</div>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">&nbsp;</p>
</body>

</html>
