<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>NPFIT-000042_Section</title>
   </head>
   <body>
      <p><b>Thu Feb 21 12:28:36 GMT 2008</b></p>
      <p><b>Description: </b> : 
         							
         <p xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">DI Reporting Coded Entry Templates</p>
      </p>
      <p><b>Template Id Constraint: </b>NPFIT-000042#Section
      </p>
      <p><b>Version: </b>2.0
      </p><map name="rmim0">
         <area href="../Tabular View/COCD_TP146011UK04.htm" usemap="#rmim0" shape="rect" coords="24,24,321.6,96">
         <area href="../Tabular View/COCD_TP146080UK01.htm" usemap="#rmim0" shape="rect" coords="345.6,24,643.2,96">
         <area href="../Tabular View/COCD_TP146079UK01.htm" usemap="#rmim0" shape="rect" coords="667.2,24,964.8000000000001,96">
         <area href="../Tabular View/COCD_TP146077UK02.htm" usemap="#rmim0" shape="rect" coords="24,120,321.6,192">
         <area href="../Tabular View/COCD_TP146078UK01.htm" usemap="#rmim0" shape="rect" coords="345.6,120,643.2,192">
         <area href="../Tabular View/COCD_TP146082UK01.htm" usemap="#rmim0" shape="rect" coords="667.2,120,964.8000000000001,192">
         <area href="../Tabular View/COCD_TP146012UK04.htm" usemap="#rmim0" shape="rect" coords="24,216,321.6,288"></map><img border="0" usemap="#rmim0" src="images/NPFIT-000042_Section.png"></body>
</html>