<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>NPFIT-000011_ActRef</title>
   </head>
   <body>
      <p><b>Thu Feb 21 12:28:35 GMT 2008</b></p>
      <p><b>Description: </b> : 
         							
         <p xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">Reference Templates</p><b xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            				<font color="#FF0000" size="4">Constraint :- For a reference to be used within a domain, the template referred to must be utilised within that domain</font>
            			</b></p>
      <p><b>Template Id Constraint: </b>NPFIT-000011#ActRef
      </p>
      <p><b>Version: </b>5.0
      </p><map name="rmim0">
         <area href="../Tabular View/COCD_TP147074UK01.htm" usemap="#rmim0" shape="rect" coords="24,24,321.6,96">
         <area href="../Tabular View/COCD_TP147067UK01.htm" usemap="#rmim0" shape="rect" coords="345.6,24,643.2,96">
         <area href="../Tabular View/COCD_TP147003UK03.htm" usemap="#rmim0" shape="rect" coords="667.2,24,964.8000000000001,96">
         <area href="../Tabular View/COCD_TP147022UK03.htm" usemap="#rmim0" shape="rect" coords="24,120,321.6,192">
         <area href="../Tabular View/COCD_TP147025UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,120,643.2,192">
         <area href="../Tabular View/COCD_TP147013UK03.htm" usemap="#rmim0" shape="rect" coords="667.2,120,964.8000000000001,192">
         <area href="../Tabular View/COCD_TP147011UK03.htm" usemap="#rmim0" shape="rect" coords="24,216,321.6,288">
         <area href="../Tabular View/COCD_TP147038UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,216,643.2,288">
         <area href="../Tabular View/COCD_TP147073UK01.htm" usemap="#rmim0" shape="rect" coords="667.2,216,964.8000000000001,288">
         <area href="../Tabular View/COCD_TP147018UK03.htm" usemap="#rmim0" shape="rect" coords="24,312,321.6,384">
         <area href="../Tabular View/COCD_TP147071UK01.htm" usemap="#rmim0" shape="rect" coords="345.6,312,643.2,384">
         <area href="../Tabular View/COCD_TP147017UK03.htm" usemap="#rmim0" shape="rect" coords="667.2,312,964.8000000000001,384">
         <area href="../Tabular View/COCD_TP147012UK03.htm" usemap="#rmim0" shape="rect" coords="24,408,321.6,480">
         <area href="../Tabular View/COCD_TP147015UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,408,643.2,480">
         <area href="../Tabular View/COCD_TP147068UK01.htm" usemap="#rmim0" shape="rect" coords="667.2,408,964.8000000000001,480">
         <area href="../Tabular View/COCD_TP147019UK03.htm" usemap="#rmim0" shape="rect" coords="24,504,321.6,576">
         <area href="../Tabular View/COCD_TP147001UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,504,643.2,576">
         <area href="../Tabular View/COCD_TP147030UK04.htm" usemap="#rmim0" shape="rect" coords="667.2,504,964.8000000000001,576">
         <area href="../Tabular View/COCD_TP147029UK04.htm" usemap="#rmim0" shape="rect" coords="24,600,321.6,672">
         <area href="../Tabular View/COCD_TP147070UK01.htm" usemap="#rmim0" shape="rect" coords="345.6,600,643.2,672">
         <area href="../Tabular View/COCD_TP147069UK01.htm" usemap="#rmim0" shape="rect" coords="667.2,600,964.8000000000001,672">
         <area href="../Tabular View/COCD_TP147037UK03.htm" usemap="#rmim0" shape="rect" coords="24,696,321.6,768">
         <area href="../Tabular View/COCD_TP147020UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,696,643.2,768">
         <area href="../Tabular View/COCD_TP147066UK01.htm" usemap="#rmim0" shape="rect" coords="667.2,696,964.8000000000001,768">
         <area href="../Tabular View/COCD_TP147031UK04.htm" usemap="#rmim0" shape="rect" coords="24,792,321.6,864">
         <area href="../Tabular View/COCD_TP147034UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,792,643.2,864">
         <area href="../Tabular View/COCD_TP147032UK03.htm" usemap="#rmim0" shape="rect" coords="667.2,792,964.8000000000001,864">
         <area href="../Tabular View/COCD_TP147072UK01.htm" usemap="#rmim0" shape="rect" coords="24,888,321.6,960">
         <area href="../Tabular View/COCD_TP147002UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,888,643.2,960">
         <area href="../Tabular View/COCD_TP147004UK03.htm" usemap="#rmim0" shape="rect" coords="667.2,888,964.8000000000001,960">
         <area href="../Tabular View/COCD_TP147033UK03.htm" usemap="#rmim0" shape="rect" coords="24,984,321.6,1056">
         <area href="../Tabular View/COCD_TP147016UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,984,643.2,1056">
         <area href="../Tabular View/COCD_TP147027UK03.htm" usemap="#rmim0" shape="rect" coords="667.2,984,964.8000000000001,1056">
         <area href="../Tabular View/COCD_TP147014UK03.htm" usemap="#rmim0" shape="rect" coords="24,1080,321.6,1152"></map><img border="0" usemap="#rmim0" src="images/NPFIT-000011_ActRef.png"></body>
</html>