<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>NPFIT-000039_Section</title>
   </head>
   <body>
      <p><b>Thu Feb 21 12:28:35 GMT 2008</b></p>
      <p><b>Description: </b> : 
         							
         <p xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">Biographic Information Coded Entry Templates</p>
      </p>
      <p><b>Template Id Constraint: </b>NPFIT-000039#Section
      </p>
      <p><b>Version: </b>2.0
      </p><map name="rmim0">
         <area href="../Tabular View/COCD_TP146074UK02.htm" usemap="#rmim0" shape="rect" coords="24,24,321.6,96">
         <area href="../Tabular View/COCD_TP146073UK02.htm" usemap="#rmim0" shape="rect" coords="345.6,24,643.2,96"></map><img border="0" usemap="#rmim0" src="images/NPFIT-000039_Section.png"></body>
</html>