<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>NPFIT-000024_ActRef</title>
   </head>
   <body>
      <p><b>Thu Feb 21 12:28:36 GMT 2008</b></p>
      <p><b>Description: </b> : 
         							
         <p xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">Care Plan Component Issue Reference Templates</p><b xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            				<font color="#FF0000" size="4">Constraint :- For a reference to be used within a domain, the template referred to must be utilised within that domain</font>
            			</b></p>
      <p><b>Template Id Constraint: </b>NPFIT-000024#ActRef
      </p>
      <p><b>Version: </b>1.0
      </p><map name="rmim0">
         <area href="../Tabular View/COCD_TP147067UK01.htm" usemap="#rmim0" shape="rect" coords="24,24,321.6,96">
         <area href="../Tabular View/COCD_TP147011UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,24,643.2,96">
         <area href="../Tabular View/COCD_TP147071UK01.htm" usemap="#rmim0" shape="rect" coords="667.2,24,964.8000000000001,96">
         <area href="../Tabular View/COCD_TP147017UK03.htm" usemap="#rmim0" shape="rect" coords="24,120,321.6,192">
         <area href="../Tabular View/COCD_TP147012UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,120,643.2,192">
         <area href="../Tabular View/COCD_TP147068UK01.htm" usemap="#rmim0" shape="rect" coords="667.2,120,964.8000000000001,192">
         <area href="../Tabular View/COCD_TP147001UK03.htm" usemap="#rmim0" shape="rect" coords="24,216,321.6,288">
         <area href="../Tabular View/COCD_TP147070UK01.htm" usemap="#rmim0" shape="rect" coords="345.6,216,643.2,288">
         <area href="../Tabular View/COCD_TP147069UK01.htm" usemap="#rmim0" shape="rect" coords="667.2,216,964.8000000000001,288">
         <area href="../Tabular View/COCD_TP147066UK01.htm" usemap="#rmim0" shape="rect" coords="24,312,321.6,384">
         <area href="../Tabular View/COCD_TP147072UK01.htm" usemap="#rmim0" shape="rect" coords="345.6,312,643.2,384">
         <area href="../Tabular View/COCD_TP147004UK03.htm" usemap="#rmim0" shape="rect" coords="667.2,312,964.8000000000001,384">
         <area href="../Tabular View/COCD_TP147091UK01.htm" usemap="#rmim0" shape="rect" coords="24,408,321.6,480"></map><img border="0" usemap="#rmim0" src="images/NPFIT-000024_ActRef.png"></body>
</html>