<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>NPFIT-000008_Role</title>
   </head>
   <body>
      <p><b>Thu Feb 21 12:28:35 GMT 2008</b></p>
      <p><b>Description: </b> : 
         							
         <p xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">Recipient Templates</p>
      </p>
      <p><b>Template Id Constraint: </b>NPFIT-000008#Role
      </p>
      <p><b>Version: </b>5.0
      </p><map name="rmim0">
         <area href="../Tabular View/COCD_TP145021UK04.htm" usemap="#rmim0" shape="rect" coords="24,24,321.6,96">
         <area href="../Tabular View/COCD_TP145017UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,24,643.2,96"></map><img border="0" usemap="#rmim0" src="images/NPFIT-000008_Role.png"></body>
</html>