<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>NPFIT-000038_Section</title>
   </head>
   <body>
      <p><b>Thu Feb 21 12:28:35 GMT 2008</b></p>
      <p><b>Description: </b> : 
         							
         <p xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">Integrated Care Plan Coded Entry Templates</p>
      </p>
      <p><b>Template Id Constraint: </b>NPFIT-000038#Section
      </p>
      <p><b>Version: </b>2.0
      </p><map name="rmim0">
         <area href="../Tabular View/COCD_TP146067UK01.htm" usemap="#rmim0" shape="rect" coords="24,24,321.6,96">
         <area href="../Tabular View/COCD_TP146024UK04.htm" usemap="#rmim0" shape="rect" coords="345.6,24,643.2,96">
         <area href="../Tabular View/COCD_TP146065UK02.htm" usemap="#rmim0" shape="rect" coords="667.2,24,964.8000000000001,96">
         <area href="../Tabular View/COCD_TP146005UK04.htm" usemap="#rmim0" shape="rect" coords="24,120,321.6,192">
         <area href="../Tabular View/COCD_TP146075UK02.htm" usemap="#rmim0" shape="rect" coords="345.6,120,643.2,192">
         <area href="../Tabular View/COCD_TP146011UK04.htm" usemap="#rmim0" shape="rect" coords="667.2,120,964.8000000000001,192">
         <area href="../Tabular View/COCD_TP146071UK01.htm" usemap="#rmim0" shape="rect" coords="24,216,321.6,288">
         <area href="../Tabular View/COCD_TP146012UK04.htm" usemap="#rmim0" shape="rect" coords="345.6,216,643.2,288">
         <area href="../Tabular View/COCD_TP146068UK01.htm" usemap="#rmim0" shape="rect" coords="667.2,216,964.8000000000001,288">
         <area href="../Tabular View/COCD_TP146001UK04.htm" usemap="#rmim0" shape="rect" coords="24,312,321.6,384">
         <area href="../Tabular View/COCD_TP146070UK01.htm" usemap="#rmim0" shape="rect" coords="345.6,312,643.2,384">
         <area href="../Tabular View/COCD_TP146069UK01.htm" usemap="#rmim0" shape="rect" coords="667.2,312,964.8000000000001,384">
         <area href="../Tabular View/COCD_TP146017UK04.htm" usemap="#rmim0" shape="rect" coords="24,408,321.6,480">
         <area href="../Tabular View/COCD_TP146037UK04.htm" usemap="#rmim0" shape="rect" coords="345.6,408,643.2,480">
         <area href="../Tabular View/COCD_TP146020UK04.htm" usemap="#rmim0" shape="rect" coords="667.2,408,964.8000000000001,480">
         <area href="../Tabular View/COCD_TP146066UK01.htm" usemap="#rmim0" shape="rect" coords="24,504,321.6,576">
         <area href="../Tabular View/COCD_TP146023UK04.htm" usemap="#rmim0" shape="rect" coords="345.6,504,643.2,576">
         <area href="../Tabular View/COCD_TP146072UK01.htm" usemap="#rmim0" shape="rect" coords="667.2,504,964.8000000000001,576">
         <area href="../Tabular View/COCD_TP146021UK05.htm" usemap="#rmim0" shape="rect" coords="24,600,321.6,672">
         <area href="../Tabular View/COCD_TP146004UK04.htm" usemap="#rmim0" shape="rect" coords="345.6,600,643.2,672">
         <area href="../Tabular View/COCD_TP146027UK04.htm" usemap="#rmim0" shape="rect" coords="667.2,600,964.8000000000001,672"></map><img border="0" usemap="#rmim0" src="images/NPFIT-000038_Section.png"></body>
</html>