<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>NPFIT-000021_Role</title>
   </head>
   <body>
      <p><b>Thu Feb 21 12:28:35 GMT 2008</b></p>
      <p><b>Description: </b> : 
         							
         <p xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">Performer Templates</p>
      </p>
      <p><b>Template Id Constraint: </b>NPFIT-000021#Role
      </p>
      <p><b>Version: </b>4.0
      </p><map name="rmim0">
         <area href="../Tabular View/COCD_TP145006UK03.htm" usemap="#rmim0" shape="rect" coords="24,24,321.6,96">
         <area href="../Tabular View/COCD_TP145005UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,24,643.2,96">
         <area href="../Tabular View/COCD_TP145022UK02.htm" usemap="#rmim0" shape="rect" coords="667.2,24,964.8000000000001,96">
         <area href="../Tabular View/COCD_TP145007UK03.htm" usemap="#rmim0" shape="rect" coords="24,120,321.6,192"></map><img border="0" usemap="#rmim0" src="images/NPFIT-000021_Role.png"></body>
</html>