<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>NPFIT-000022_Act</title>
   </head>
   <body>
      <p><b>Thu Feb 21 12:28:35 GMT 2008</b></p>
      <p><b>Description: </b> : 
         							
         <p xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">Diagnostic Imaging Procedure Event Templates</p>
      </p>
      <p><b>Template Id Constraint: </b>NPFIT-000022#Act
      </p>
      <p><b>Version: </b>1.0
      </p><map name="rmim0">
         <area href="../Tabular View/COCD_TP146081UK01.htm" usemap="#rmim0" shape="rect" coords="24,24,321.6,96"></map><img border="0" usemap="#rmim0" src="images/NPFIT-000022_Act.png"></body>
</html>