<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>NPFIT-000010_ActRef</title>
   </head>
   <body>
      <p><b>Thu Feb 21 12:28:35 GMT 2008</b></p>
      <p><b>Description: </b> : 
         							
         <p xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">Reference Templates</p><b xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            				<font color="#FF0000" size="4">Constraint :- For a reference to be used within a domain, the template referred to must be utilised within that domain</font>
            			</b></p>
      <p><b>Template Id Constraint: </b>NPFIT-000010#ActRef
      </p>
      <p><b>Version: </b>2.0
      </p><map name="rmim0">
         <area href="../Tabular View/COCD_TP147017UK03.htm" usemap="#rmim0" shape="rect" coords="24,24,321.6,96">
         <area href="../Tabular View/COCD_TP147012UK03.htm" usemap="#rmim0" shape="rect" coords="345.6,24,643.2,96"></map><img border="0" usemap="#rmim0" src="images/NPFIT-000010_ActRef.png"></body>
</html>