<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>AuthorNonSDSWithOrgNonSDS</title>
      
   </head>
   
   <body>
      
      <h1>AuthorNonSDSWithOrgNonSDS (COCD_TP145002UK03)</h1>
      
      <p>Date: 2007-10-23 12:08:59</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145002UK03-NoEdit.htm#AssignedAuthor" coords="320, 79, 637, 190" shape="rect"></area>
         
         <area href="COCD_TP145002UK03-NoEdit.htm#Person" coords="627, 225, 944, 308" shape="rect"></area>
         
         <area href="COCD_TP145002UK03-NoEdit.htm#Organization" coords="0, 211, 377, 319" shape="rect"></area>
         
         <area href="COCD_TP145002UK03-NoEdit.htm" coords="361, -3, 625, 74" shape="rect"></area></map> <img border="0" src="images/COCD_TP145002UK03.png" usemap="#rmim0"></img>
      
   </body>
   
</html>