<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>ProblemLinkAssertion</title>
      
   </head>
   
   <body>
      
      <h1>ProblemLinkAssertion (COCD_TP146009UK04)</h1>
      
      <p>Date: 2007-08-03 11:25:49</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146009UK04-NoEdit.htm#ProblemLinkAssertion/author" coords="236, 186, 579, 279" shape="rect"></area>
         
         <area href="COCD_TP146009UK04-NoEdit.htm#ProblemLinkAssertion" coords="579, 122, 866, 366" shape="rect"></area>
         
         <area href="COCD_TP146009UK04-NoEdit.htm#ProblemLinkAssertion/entryRelationship" coords="866, 126, 1203, 219" shape="rect"></area>
         
         <area href="COCD_TP146009UK04-NoEdit.htm#ProblemLinkAssertion/entryRelationship1" coords="866, 263, 1209, 356" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000003_ActRef.htm" coords="1213, 149, 1446, 365" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 207, 230, 255" shape="rect">
         
         <area href="COCD_TP146009UK04-NoEdit.htm" coords="656, -3, 808, 117" shape="rect"></area></map> <img border="0" src="images/COCD_TP146009UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>