<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>ServiceDeliveryLocationDetails</title>
      
   </head>
   
   <body>
      
      <h1>ServiceDeliveryLocationDetails (COCD_TP145025UK01)</h1>
      
      <p>Date: 2007-11-27 10:55:41</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145025UK01-NoEdit.htm#ServiceDeliveryLocation" coords="215, 131, 573, 206" shape="rect"></area>
         
         <area href="COCD_TP145025UK01-NoEdit.htm#Place" coords="529, 252, 821, 340" shape="rect"></area>
         
         <area href="COCD_TP145025UK01-NoEdit.htm#Organization" coords="0, 246, 272, 346" shape="rect"></area>
         
         <area href="COCD_TP145025UK01-NoEdit.htm" coords="262, -3, 509, 127" shape="rect"></area></map> <img border="0" src="images/COCD_TP145025UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>