<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Assessment</title>
      
   </head>
   
   <body>
      
      <h1>Assessment (COCD_TP146100UK01)</h1>
      
      <p>Date: 2008-01-30 15:54:13</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Assessment/author" coords="274, 134, 594, 227" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Assessment/performer" coords="236, 287, 594, 367" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Assessment" coords="594, 129, 892, 880" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Assessment/secondaryPerformer" coords="236, 405, 594, 485" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Assessment/informant" coords="236, 542, 594, 610" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 289, 228, 601" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="50, 168, 263, 216" shape="rect">
         
         <area href="COCD_TP146100UK01-NoEdit.htm#LastAssessmentReview" coords="1242, 508, 1602, 608" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#PlannedAssessmentReview" coords="1241, 625, 1602, 738" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Assessment/entryRelationship3" coords="892, 524, 1242, 604" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Assessment/entryRelationship4" coords="892, 640, 1241, 720" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Assessment/participant" coords="594, 880, 891, 964" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000030_Role.htm" coords="682, 985, 802, 1033" shape="rect">
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Assessment/entryRelationship1" coords="892, 125, 1239, 192" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#AssessmentComponent" coords="1239, 79, 1562, 192" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Assessment/entryRelationship2" coords="892, 309, 1256, 376" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Scale" coords="1256, 295, 1538, 370" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="73, 668, 208, 716" shape="rect">
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Assessment/witness" coords="225, 659, 594, 739" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#Assessment/entryRelationship5" coords="892, 426, 1257, 493" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000025_ActRef.htm" coords="1269, 416, 1400, 488" shape="rect">
         
         <area href="COCD_TP146100UK01-NoEdit.htm#AssessmentComponent/entryRelationship" coords="1415, -2, 1823, 121" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm#AssessmentComponent/entryRelationship6" coords="1233, 192, 1564, 295" shape="rect"></area>
         
         <area href="COCD_TP146100UK01-NoEdit.htm" coords="662, 29, 804, 124" shape="rect"></area></map> <img border="0" src="images/COCD_TP146100UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>