<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>NonNamedPersonWithOrgNonSDS</title>
      
   </head>
   
   <body>
      
      <h1>NonNamedPersonWithOrgNonSDS (COCD_TP145013UK03)</h1>
      
      <p>Date: 2007-10-23 12:12:41</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145013UK03-NoEdit.htm#ParticipantRole" coords="355, 106, 672, 176" shape="rect"></area>
         
         <area href="COCD_TP145013UK03-NoEdit.htm#Organization" coords="0, 162, 336, 253" shape="rect"></area>
         
         <area href="COCD_TP145013UK03-NoEdit.htm" coords="390, -3, 636, 102" shape="rect"></area></map> <img border="0" src="images/COCD_TP145013UK03.png" usemap="#rmim0"></img>
      
   </body>
   
</html>