<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>DeviceNonSDSWithOrgSDS</title>
      
   </head>
   
   <body>
      
      <h1>DeviceNonSDSWithOrgSDS (COCD_TP145010UK03)</h1>
      
      <p>Date: 2007-08-03 11:24:34</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145010UK03-NoEdit.htm#ParticipantRole" coords="326, 95, 633, 170" shape="rect"></area>
         
         <area href="COCD_TP145010UK03-NoEdit.htm#Device" coords="634, 173, 988, 286" shape="rect"></area>
         
         <area href="COCD_TP145010UK03-NoEdit.htm#OrganizationSDS" coords="0, 192, 354, 294" shape="rect"></area>
         
         <area href="COCD_TP145010UK03-NoEdit.htm" coords="377, -3, 583, 91" shape="rect"></area></map> <img border="0" src="images/COCD_TP145010UK03.png" usemap="#rmim0"></img>
      
   </body>
   
</html>