<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>TextSectionRef</title>
      
   </head>
   
   <body>
      
      <h1>TextSectionRef (COCD_TP147039UK03)</h1>
      
      <p>Date: 2007-08-03 11:31:18</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP147039UK03-NoEdit.htm#TextSectionRef" coords="0, 82, 297, 188" shape="rect"></area>
         
         <area href="COCD_TP147039UK03-NoEdit.htm" coords="58, -3, 234, 77" shape="rect"></area></map> <img border="0" src="images/COCD_TP147039UK03.png" usemap="#rmim0"></img>
      
   </body>
   
</html>