<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>DiagnosticImagingOrder</title>
      
   </head>
   
   <body>
      
      <h1>DiagnosticImagingOrder (COCD_TP146080UK01)</h1>
      
      <p>Date: 2007-12-14 08:39:24</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146080UK01-NoEdit.htm#DIOrder" coords="44, 130, 328, 217" shape="rect"></area>
         
         <area href="COCD_TP146080UK01-NoEdit.htm#DIOrder/device" coords="328, 130, 640, 198" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000036_Role.htm" coords="652, 140, 787, 188" shape="rect">
         
         <area href="COCD_TP146080UK01-NoEdit.htm" coords="52, -3, 325, 125" shape="rect"></area></map> <img border="0" src="images/COCD_TP146080UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>