<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>FamilyHistory</title>
      
   </head>
   
   <body>
      
      <h1>FamilyHistory (COCD_TP146018UK04)</h1>
      
      <p>Date: 2007-08-03 11:26:39</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146018UK04-NoEdit.htm#FamilyHistory" coords="558, 104, 860, 327" shape="rect"></area>
         
         <area href="COCD_TP146018UK04-NoEdit.htm#FamilyHistory/author" coords="236, 104, 558, 197" shape="rect"></area>
         
         <area href="COCD_TP146018UK04-NoEdit.htm#FamilyHistory/informant" coords="236, 247, 558, 314" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 117, 224, 165" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 264, 225, 312" shape="rect">
         
         <area href="COCD_TP146018UK04-NoEdit.htm" coords="616, -3, 780, 99" shape="rect"></area></map> <img border="0" src="images/COCD_TP146018UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>