<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>LinkAssertion</title>
      
   </head>
   
   <body>
      
      <h1>LinkAssertion (COCD_TP146007UK04)</h1>
      
      <p>Date: 2007-08-03 11:25:38</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146007UK04-NoEdit.htm#LinkAssertion/author" coords="236, 132, 577, 225" shape="rect"></area>
         
         <area href="COCD_TP146007UK04-NoEdit.htm#LinkAssertion" coords="577, 100, 862, 342" shape="rect"></area>
         
         <area href="COCD_TP146007UK04-NoEdit.htm#LinkAssertion/entryRelationship" coords="862, 100, 1202, 193" shape="rect"></area>
         
         <area href="COCD_TP146007UK04-NoEdit.htm#LinkAssertion/entryRelationship1" coords="862, 240, 1206, 333" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000004_ActRef.htm" coords="1214, 101, 1439, 179" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000004_ActRef.htm" coords="1218, 261, 1448, 338" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 155, 230, 203" shape="rect">
         
         <area href="COCD_TP146007UK04-NoEdit.htm" coords="648, -3, 825, 95" shape="rect"></area></map> <img border="0" src="images/COCD_TP146007UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>