<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Treatment</title>
      
   </head>
   
   <body>
      
      <h1>Treatment (COCD_TP146027UK04)</h1>
      
      <p>Date: 2007-09-11 14:15:09</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146027UK04-NoEdit.htm#Treatment/performer" coords="242, 257, 568, 337" shape="rect"></area>
         
         <area href="COCD_TP146027UK04-NoEdit.htm#Treatment/author" coords="243, 106, 568, 199" shape="rect"></area>
         
         <area href="COCD_TP146027UK04-NoEdit.htm#Treatment/informant" coords="236, 398, 568, 466" shape="rect"></area>
         
         <area href="COCD_TP146027UK04-NoEdit.htm#Treatment" coords="568, 97, 855, 519" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="19, 131, 231, 179" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 410, 224, 458" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000003_Role.htm" coords="18, 275, 230, 323" shape="rect">
         
         <area href="COCD_TP146027UK04-NoEdit.htm#Treatment/entryRelationship" coords="855, 243, 1194, 323" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000009_ActRef.htm" coords="1206, 260, 1428, 332" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000018_ActRef.htm" coords="1223, 440, 1446, 512" shape="rect">
         
         <area href="COCD_TP146027UK04-NoEdit.htm#Treatment/entryRelationship1" coords="855, 434, 1211, 515" shape="rect"></area>
         
         <area href="COCD_TP146027UK04-NoEdit.htm" coords="609, -3, 779, 92" shape="rect"></area></map> <img border="0" src="images/COCD_TP146027UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>