<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>SocialOrPersonalCircumstance</title>
      
   </head>
   
   <body>
      
      <h1>SocialOrPersonalCircumstance (COCD_TP146004UK04)</h1>
      
      <p>Date: 2007-08-03 11:25:16</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146004UK04-NoEdit.htm#SocialOrPersonalCircumstance/author" coords="236, 87, 556, 180" shape="rect"></area>
         
         <area href="COCD_TP146004UK04-NoEdit.htm#SocialOrPersonalCircumstance/informant" coords="239, 245, 556, 312" shape="rect"></area>
         
         <area href="COCD_TP146004UK04-NoEdit.htm#SocialOrPersonalCircumstance" coords="556, 97, 873, 317" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 121, 224, 169" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="15, 236, 227, 284" shape="rect">
         
         <area href="COCD_TP146004UK04-NoEdit.htm" coords="609, -3, 826, 92" shape="rect"></area></map> <img border="0" src="images/COCD_TP146004UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>