<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>MedicationDiscontinuation</title>
      
   </head>
   
   <body>
      
      <h1>MedicationDiscontinuation (COCD_TP146036UK04)</h1>
      
      <p>Date: 2007-08-03 11:29:38</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146036UK04-NoEdit.htm#MedicationDiscontinuation/author" coords="250, 86, 589, 179" shape="rect"></area>
         
         <area href="COCD_TP146036UK04-NoEdit.htm#InformPatient" coords="1214, 197, 1559, 298" shape="rect"></area>
         
         <area href="COCD_TP146036UK04-NoEdit.htm#MedicationDiscontinuation/entryRelationship" coords="872, 204, 1214, 284" shape="rect"></area>
         
         <area href="COCD_TP146036UK04-NoEdit.htm#InformPatient/primaryInformationRecipient" coords="1233, 297, 1530, 389" shape="rect"></area>
         
         <area href="COCD_TP146036UK04-NoEdit.htm#InformPatient/performer" coords="1240, 114, 1529, 197" shape="rect"></area>
         
         <area href="COCD_TP146036UK04-NoEdit.htm#PatientContactAttempt" coords="1219, 479, 1573, 595" shape="rect"></area>
         
         <area href="COCD_TP146036UK04-NoEdit.htm#MedicationDiscontinuation/entryRelationship1" coords="872, 495, 1219, 576" shape="rect"></area>
         
         <area href="COCD_TP146036UK04-NoEdit.htm#PatientContactAttempt/performer" coords="1245, 594, 1535, 695" shape="rect"></area>
         
         <area href="COCD_TP146036UK04-NoEdit.htm#MedicationDiscontinuation" coords="589, 82, 872, 610" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000017_ActRef.htm" coords="12, 268, 235, 348" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="27, 106, 239, 154" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000022_Role.htm" coords="1265, 43, 1477, 91" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000022_Role.htm" coords="1278, 719, 1490, 767" shape="rect">
         
         <area href="COCD_TP146036UK04-NoEdit.htm#PatientRole" coords="1226, 389, 1515, 464" shape="rect"></area>
         
         <area href="COCD_TP146036UK04-NoEdit.htm#MedicationDiscontinuation/entryRelationship2" coords="244, 256, 589, 336" shape="rect"></area>
         
         <area href="COCD_TP146036UK04-NoEdit.htm" coords="613, -1, 824, 77" shape="rect"></area></map> <img border="0" src="images/COCD_TP146036UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>