<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<title>PatientWithLanguage</title></head><body>
<h1>PatientWithLanguage (COCD_TP145026UK02)</h1>
<p>Date: 2008-02-21 12:20:32</p>
<map name="rmim0">

<area href="COCD_TP145026UK02-NoEdit.htm#PatientRole" coords="21, 97, 312, 172" shape="rect"/>

<area href="COCD_TP145026UK02-NoEdit.htm#Person" coords="0, 230, 309, 302" shape="rect"/>

<area href="COCD_TP145026UK02-NoEdit.htm#LanguageCommunication" coords="30, 364, 289, 452" shape="rect"/>

<area href="COCD_TP145026UK02-NoEdit.htm#" coords="160, 302, 154, 372" shape="rect"/>

<area href="COCD_TP145026UK02-NoEdit.htm" coords="52, -3, 270, 92" shape="rect"/>
</map>
<img border="0" src="images/COCD_TP145026UK02.png" usemap="#rmim0"/>
</body>
</html>
