<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>LegalStatus</title>
      
   </head>
   
   <body>
      
      <h1>LegalStatus (COCD_TP146093UK01)</h1>
      
      <p>Date: 2007-11-28 17:18:31</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146093UK01-NoEdit.htm#LegalStatus" coords="39, 116, 263, 346" shape="rect"></area>
         
         <area href="COCD_TP146093UK01-NoEdit.htm#LegalStatus/author" coords="263, 121, 590, 214" shape="rect"></area>
         
         <area href="COCD_TP146093UK01-NoEdit.htm#LegalStatus/informant" coords="263, 268, 590, 336" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="602, 158, 814, 206" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="602, 293, 814, 341" shape="rect">
         
         <area href="COCD_TP146093UK01-NoEdit.htm" coords="55, -3, 251, 111" shape="rect"></area></map> <img border="0" src="images/COCD_TP146093UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>