<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>RequestMedicationAdministration</title>
      
   </head>
   
   <body>
      
      <h1>RequestMedicationAdministration (COCD_TP146034UK04)</h1>
      
      <p>Date: 2007-10-25 11:37:29</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146034UK04-NoEdit.htm#RequestMedicationAdministration" coords="643, 131, 945, 1152" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#ManufacturedProduct" coords="0, 695, 336, 753" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#RequestMedicationAdministration/consumable" coords="331, 702, 643, 743" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#DosageInstructions" coords="1281, 284, 1643, 371" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#RequestMedicationAdministration/author" coords="303, 137, 643, 230" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#RequestMedicationAdministration/informant" coords="313, 298, 643, 365" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#RequestMedicationAdministration/location" coords="331, 942, 643, 1009" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#RequestMedicationAdministration/primaryInformationRecipient" coords="241, 448, 643, 515" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#RequestMedicationAdministration/entryRelationship5" coords="945, 147, 1288, 227" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#SupplyMedication" coords="1285, 109, 1643, 235" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#AcuteScriptFlag" coords="1313, 851, 1662, 939" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#RequestMedicationAdministration/tracker" coords="241, 571, 643, 638" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#RequestMedicationAdministration/entryRelationship4" coords="945, 860, 1313, 927" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#RequestMedicationAdministration/entryRelationship" coords="945, 293, 1282, 361" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000014_ActRef.htm" coords="1341, 1007, 1570, 1087" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="79, 158, 292, 206" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="89, 317, 301, 365" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000003_Role.htm" coords="18, 449, 230, 624" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000004_Role.htm" coords="101, 950, 314, 998" shape="rect">
         
         <area href="COCD_TP146034UK04-NoEdit.htm#RequestMedicationAdministration/entryRelationship7" coords="945, 996, 1329, 1076" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm#Material" coords="29, 802, 366, 889" shape="rect"></area>
         
         <area href="COCD_TP146034UK04-NoEdit.htm" coords="674, 28, 907, 126" shape="rect"></area></map> <img border="0" src="images/COCD_TP146034UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>