<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>UnSealingEvent</title>
      
   </head>
   
   <body>
      
      <h1>UnSealingEvent (COCD_TP146045UK05)</h1>
      
      <p>Date: 2007-08-03 11:30:06</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146045UK05-NoEdit.htm#UnSealingEvent/component3" coords="297, 153, 610, 221" shape="rect"></area>
         
         <area href="COCD_TP146045UK05-NoEdit.htm#RequestToUnSeal/participant" coords="611, 256, 907, 367" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000011_Role.htm" coords="668, 391, 880, 439" shape="rect">
         
         <area href="COCD_TP146045UK05-NoEdit.htm#UnSealingEvent" coords="0, 108, 297, 510" shape="rect"></area>
         
         <area href="COCD_TP146045UK05-NoEdit.htm#RequestToUnSeal" coords="609, 168, 902, 256" shape="rect"></area>
         
         <area href="COCD_TP146045UK05-NoEdit.htm" coords="43, -3, 259, 103" shape="rect"></area></map> <img border="0" src="images/COCD_TP146045UK05.png" usemap="#rmim0"></img>
      
   </body>
   
</html>