<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      
      <title>CareProcessAdministration</title>
      
   </head>
   
   <body>
      
      <h1>CareProcessAdministration (COCD_TP146096UK02)</h1>
      
      <p>Date: 2008-02-12 15:27:49</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146096UK02-NoEdit.htm#CareProcessAdministration" coords="690, 122, 1017, 641" shape="rect"></area>
         
         <area href="COCD_TP146096UK02-NoEdit.htm#CareProcessAdministration/author" coords="1017, 162, 1342, 255" shape="rect"></area>
         
         <area href="COCD_TP146096UK02-NoEdit.htm#CareProcessAdministration/informant" coords="1017, 337, 1337, 404" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="1354, 175, 1566, 223" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="1349, 339, 1560, 387" shape="rect">
         
         <area href="COCD_TP146096UK02-NoEdit.htm#DateCommencedOrFirstReview" coords="38, 128, 351, 242" shape="rect"></area>
         
         <area href="COCD_TP146096UK02-NoEdit.htm#CareProcessAdministration/entryRelationship" coords="351, 140, 690, 208" shape="rect"></area>
         
         <area href="COCD_TP146096UK02-NoEdit.htm#DateConcludedOrMostRecentReview" coords="19, 282, 334, 408" shape="rect"></area>
         
         <area href="COCD_TP146096UK02-NoEdit.htm#CareProcessAdministration/entryRelationship1" coords="334, 295, 690, 363" shape="rect"></area>
         
         <area href="COCD_TP146096UK02-NoEdit.htm#CareLevelApproach" coords="0, 443, 337, 544" shape="rect"></area>
         
         <area href="COCD_TP146096UK02-NoEdit.htm#CareProcessType" coords="17, 570, 346, 671" shape="rect"></area>
         
         <area href="COCD_TP146096UK02-NoEdit.htm#CareProcessAdministration/entryRelationship2" coords="337, 456, 690, 523" shape="rect"></area>
         
         <area href="COCD_TP146096UK02-NoEdit.htm#CareProcessAdministration/entryRelationship3" coords="346, 576, 690, 643" shape="rect"></area>
         
         <area href="COCD_TP146096UK02-NoEdit.htm" coords="714, -3, 985, 118" shape="rect"></area></map> <img border="0" src="images/COCD_TP146096UK02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>