<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>SecurityAbuseDiscriminationRef</title>
      
   </head>
   
   <body>
      
      <h1>SecurityAbuseDiscriminationRef (COCD_TP147072UK01)</h1>
      
      <p>Date: 2007-11-08 13:00:01</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP147072UK01-NoEdit.htm#SecurityAbuseDiscriminationRef" coords="0, 87, 299, 187" shape="rect"></area>
         
         <area href="COCD_TP147072UK01-NoEdit.htm" coords="16, -3, 282, 82" shape="rect"></area></map> <img border="0" src="images/COCD_TP147072UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>