<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>AllergicOrAdverseReactionEventRef</title>
      
   </head>
   
   <body>
      
      <h1>AllergicOrAdverseReactionEventRef (COCD_TP147022UK03)</h1>
      
      <p>Date: 2007-08-03 11:30:53</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP147022UK03-NoEdit.htm#AllergicOrAdverseReactionEventRef" coords="0, 93, 310, 206" shape="rect"></area>
         
         <area href="COCD_TP147022UK03-NoEdit.htm" coords="32, -3, 271, 88" shape="rect"></area></map> <img border="0" src="images/COCD_TP147022UK03.png" usemap="#rmim0"></img>
      
   </body>
   
</html>