<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>OtherEntityAssociatedWithPatient</title>
      
   </head>
   
   <body>
      
      <h1>OtherEntityAssociatedWithPatient (COCD_TP146098UK01)</h1>
      
      <p>Date: 2007-11-30 10:14:15</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146098UK01-NoEdit.htm#OtherEntityAssociatedWithPatient" coords="0, 91, 298, 513" shape="rect"></area>
         
         <area href="COCD_TP146098UK01-NoEdit.htm#OtherEntityAssociatedWithPatient/subject" coords="298, 132, 607, 199" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000034_Role.htm" coords="617, 137, 752, 185" shape="rect">
         
         <area href="COCD_TP146098UK01-NoEdit.htm#OtherEntityAssociatedWithPatient/author" coords="298, 295, 613, 388" shape="rect"></area>
         
         <area href="COCD_TP146098UK01-NoEdit.htm#OtherEntityAssociatedWithPatient/informant" coords="298, 444, 618, 511" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="625, 306, 837, 354" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="630, 440, 841, 488" shape="rect">
         
         <area href="COCD_TP146098UK01-NoEdit.htm" coords="29, -3, 287, 87" shape="rect"></area></map> <img border="0" src="images/COCD_TP146098UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>