<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>ActivityOfDailyLivingRef</title>
      
   </head>
   
   <body>
      
      <h1>ActivityOfDailyLivingRef (COCD_TP147067UK01)</h1>
      
      <p>Date: 2007-11-08 12:50:12</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP147067UK01-NoEdit.htm#ActivityOfDailyLivingRef" coords="0, 96, 276, 197" shape="rect"></area>
         
         <area href="COCD_TP147067UK01-NoEdit.htm" coords="16, -3, 243, 91" shape="rect"></area></map> <img border="0" src="images/COCD_TP147067UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>