<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>CareEventRef</title>
      
   </head>
   
   <body>
      
      <h1>CareEventRef (COCD_TP147005UK03)</h1>
      
      <p>Date: 2007-08-03 11:30:32</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP147005UK03-NoEdit.htm#CareEventRef" coords="0, 99, 301, 200" shape="rect"></area>
         
         <area href="COCD_TP147005UK03-NoEdit.htm" coords="57, -3, 238, 101" shape="rect"></area></map> <img border="0" src="images/COCD_TP147005UK03.png" usemap="#rmim0"></img>
      
   </body>
   
</html>