<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>CareEvent</title>
      
   </head>
   
   <body>
      
      <h1>CareEvent (COCD_TP146005UK04)</h1>
      
      <p>Date: 2007-08-03 11:25:28</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146005UK04-NoEdit.htm#CareEvent/author" coords="274, 95, 594, 189" shape="rect"></area>
         
         <area href="COCD_TP146005UK04-NoEdit.htm#CareEvent/location" coords="272, 843, 594, 911" shape="rect"></area>
         
         <area href="COCD_TP146005UK04-NoEdit.htm#CareEvent/performer" coords="236, 229, 594, 309" shape="rect"></area>
         
         <area href="COCD_TP146005UK04-NoEdit.htm#CareEvent/location1" coords="892, 287, 1201, 341" shape="rect"></area>
         
         <area href="COCD_TP146005UK04-NoEdit.htm#CareEvent" coords="594, 111, 892, 974" shape="rect"></area>
         
         <area href="COCD_TP146005UK04-NoEdit.htm#CareEvent/secondaryPerformer" coords="236, 344, 594, 424" shape="rect"></area>
         
         <area href="COCD_TP146005UK04-NoEdit.htm#CareEvent/responsibleParty" coords="236, 464, 594, 544" shape="rect"></area>
         
         <area href="COCD_TP146005UK04-NoEdit.htm#CareEvent/referrer" coords="236, 591, 594, 672" shape="rect"></area>
         
         <area href="COCD_TP146005UK04-NoEdit.htm#CareSetting" coords="1199, 276, 1491, 351" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="50, 726, 263, 774" shape="rect">
         
         <area href="COCD_TP146005UK04-NoEdit.htm#CareEvent/informant" coords="274, 722, 594, 790" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000003_Role.htm" coords="12, 230, 228, 663" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000004_Role.htm" coords="42, 844, 254, 892" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_ActRef.htm" coords="1234, 397, 1462, 490" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="50, 111, 263, 159" shape="rect">
         
         <area href="COCD_TP146005UK04-NoEdit.htm#CareEvent/entryRelationship" coords="892, 401, 1230, 481" shape="rect"></area>
         
         <area href="COCD_TP146005UK04-NoEdit.htm" coords="632, -3, 834, 106" shape="rect"></area></map> <img border="0" src="images/COCD_TP146005UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>