<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>RiskToPerson</title>
      
   </head>
   
   <body>
      
      <h1>RiskToPerson (COCD_TP146010UK04)</h1>
      
      <p>Date: 2007-08-03 11:25:54</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146010UK04-NoEdit.htm#RiskToPerson/author" coords="256, 82, 569, 175" shape="rect"></area>
         
         <area href="COCD_TP146010UK04-NoEdit.htm#RiskToPerson" coords="569, 94, 910, 336" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000006_ActRef.htm" coords="1262, 112, 1497, 184" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="32, 110, 245, 158" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 246, 224, 294" shape="rect">
         
         <area href="COCD_TP146010UK04-NoEdit.htm#RiskToPerson/responsibleParty" coords="235, 218, 569, 285" shape="rect"></area>
         
         <area href="COCD_TP146010UK04-NoEdit.htm#RiskToPerson/entryRelationship" coords="910, 109, 1250, 189" shape="rect"></area>
         
         <area href="COCD_TP146010UK04-NoEdit.htm" coords="640, -3, 818, 89" shape="rect"></area></map> <img border="0" src="images/COCD_TP146010UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>