<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Smoking</title>
      
   </head>
   
   <body>
      
      <h1>Smoking (COCD_TP146002UK04)</h1>
      
      <p>Date: 2007-08-03 11:25:07</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146002UK04-NoEdit.htm#Smoking/author" coords="236, 110, 563, 203" shape="rect"></area>
         
         <area href="COCD_TP146002UK04-NoEdit.htm#Smoking/informant" coords="243, 276, 563, 343" shape="rect"></area>
         
         <area href="COCD_TP146002UK04-NoEdit.htm#Smoking" coords="563, 102, 845, 350" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 134, 224, 182" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="19, 271, 231, 319" shape="rect">
         
         <area href="COCD_TP146002UK04-NoEdit.htm" coords="615, -3, 764, 97" shape="rect"></area></map> <img border="0" src="images/COCD_TP146002UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>