<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Finding</title>
      
   </head>
   
   <body>
      
      <h1>Finding (COCD_TP146012UK04)</h1>
      
      <p>Date: 2007-08-03 11:26:07</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146012UK04-NoEdit.htm#Finding" coords="564, 97, 879, 500" shape="rect"></area>
         
         <area href="COCD_TP146012UK04-NoEdit.htm#Finding/author" coords="252, 100, 564, 194" shape="rect"></area>
         
         <area href="COCD_TP146012UK04-NoEdit.htm#Finding/performer" coords="241, 266, 564, 347" shape="rect"></area>
         
         <area href="COCD_TP146012UK04-NoEdit.htm#Finding/informant" coords="236, 425, 564, 492" shape="rect"></area>
         
         <area href="COCD_TP146012UK04-NoEdit.htm#Finding/referenceRange" coords="879, 179, 1210, 221" shape="rect"></area>
         
         <area href="COCD_TP146012UK04-NoEdit.htm#ObservationRange" coords="1210, 159, 1536, 260" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="28, 133, 240, 181" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 428, 224, 476" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000003_Role.htm" coords="17, 294, 230, 342" shape="rect">
         
         <area href="COCD_TP146012UK04-NoEdit.htm" coords="647, -3, 823, 92" shape="rect"></area></map> <img border="0" src="images/COCD_TP146012UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>