<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>MedicationAdministrationDoseRef</title>
      
   </head>
   
   <body>
      
      <h1>MedicationAdministrationDoseRef (COCD_TP147029UK04)</h1>
      
      <p>Date: 2007-08-08 12:26:08</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP147029UK04-NoEdit.htm#MedicationAdministrationDoseRef" coords="343, 93, 642, 206" shape="rect"></area>
         
         <area href="COCD_TP147029UK04-NoEdit.htm#ManufacturedProduct" coords="0, 120, 168, 187" shape="rect"></area>
         
         <area href="COCD_TP147029UK04-NoEdit.htm#MedicationAdministrationDoseRef/consumable" coords="168, 137, 343, 166" shape="rect"></area>
         
         <area href="COCD_TP147029UK04-NoEdit.htm" coords="352, -3, 627, 88" shape="rect"></area>
         
         <area href="COCD_TP147029UK04-NoEdit.htm#Material" coords="8, 7, 143, 79" shape="rect"></area></map> <img border="0" src="images/COCD_TP147029UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>