<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>AssessmentEvent</title>
      
   </head>
   
   <body>
      
      <h1>AssessmentEvent (COCD_TP146065UK02)</h1>
      
      <p>Date: 2008-01-30 15:50:24</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146065UK02-NoEdit.htm#AssessmentEvent/author" coords="274, 134, 594, 227" shape="rect"></area>
         
         <area href="COCD_TP146065UK02-NoEdit.htm#AssessmentEvent/performer" coords="236, 287, 594, 367" shape="rect"></area>
         
         <area href="COCD_TP146065UK02-NoEdit.htm#AssessmentEvent/location1" coords="892, 140, 1203, 195" shape="rect"></area>
         
         <area href="COCD_TP146065UK02-NoEdit.htm#AssessmentEvent" coords="594, 129, 892, 880" shape="rect"></area>
         
         <area href="COCD_TP146065UK02-NoEdit.htm#AssessmentEvent/secondaryPerformer" coords="236, 405, 594, 485" shape="rect"></area>
         
         <area href="COCD_TP146065UK02-NoEdit.htm#CareSetting" coords="1203, 126, 1510, 188" shape="rect"></area>
         
         <area href="COCD_TP146065UK02-NoEdit.htm#AssessmentEvent/informant" coords="236, 542, 594, 610" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 289, 228, 601" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="50, 168, 263, 216" shape="rect">
         
         <area href="COCD_TP146065UK02-NoEdit.htm#AssessmentEvent/entryRelationship1" coords="892, 212, 1253, 293" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="73, 668, 208, 716" shape="rect">
         
         <area href="COCD_TP146065UK02-NoEdit.htm#AssessmentEvent/witness" coords="225, 659, 594, 739" shape="rect"></area>
         
         <area href="COCD_TP146065UK02-NoEdit.htm#AssessmentEvent/location" coords="262, 797, 594, 864" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000004_Role.htm" coords="32, 796, 245, 844" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000025_Act.htm" coords="1265, 228, 1396, 300" shape="rect">
         
         <area href="COCD_TP146065UK02-NoEdit.htm" coords="632, 16, 834, 124" shape="rect"></area></map> <img border="0" src="images/COCD_TP146065UK02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>