<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Investigation</title>
      
   </head>
   
   <body>
      
      <h1>Investigation (COCD_TP146019UK04)</h1>
      
      <p>Date: 2007-08-03 11:26:47</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146019UK04-NoEdit.htm#Investigation/performer" coords="245, 259, 565, 339" shape="rect"></area>
         
         <area href="COCD_TP146019UK04-NoEdit.htm#Investigation/author" coords="236, 104, 565, 197" shape="rect"></area>
         
         <area href="COCD_TP146019UK04-NoEdit.htm#SpecimenRole" coords="1141, 176, 1456, 238" shape="rect"></area>
         
         <area href="COCD_TP146019UK04-NoEdit.htm#Investigation" coords="565, 97, 841, 516" shape="rect"></area>
         
         <area href="COCD_TP146019UK04-NoEdit.htm#Investigation/specimen" coords="841, 185, 1142, 227" shape="rect"></area>
         
         <area href="COCD_TP146019UK04-NoEdit.htm#PlayingEntity" coords="955, 65, 1296, 153" shape="rect"></area>
         
         <area href="COCD_TP146019UK04-NoEdit.htm#Investigation/informant" coords="245, 406, 565, 473" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000009_ActRef.htm" coords="1192, 302, 1414, 374" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="12, 119, 224, 167" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="22, 426, 234, 474" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000003_Role.htm" coords="21, 282, 233, 330" shape="rect">
         
         <area href="COCD_TP146019UK04-NoEdit.htm#Investigation/entryRelationship" coords="841, 289, 1180, 369" shape="rect"></area>
         
         <area href="COCD_TP146019UK04-NoEdit.htm" coords="631, -3, 749, 92" shape="rect"></area></map> <img border="0" src="images/COCD_TP146019UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>