<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Accommodation</title>
      
   </head>
   
   <body>
      
      <h1>Accommodation (COCD_TP146074UK02)</h1>
      
      <p>Date: 2008-01-28 14:20:47</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146074UK02-NoEdit.htm#Accommodation" coords="556, 97, 870, 404" shape="rect"></area>
         
         <area href="COCD_TP146074UK02-NoEdit.htm#Accommodation/author" coords="243, 115, 556, 208" shape="rect"></area>
         
         <area href="COCD_TP146074UK02-NoEdit.htm#Accommodation/informant" coords="236, 272, 556, 340" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="19, 133, 232, 181" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 284, 224, 332" shape="rect">
         
         <area href="COCD_TP146074UK02-NoEdit.htm" coords="591, -3, 861, 92" shape="rect"></area></map> <img border="0" src="images/COCD_TP146074UK02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>