<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>RecipientEntitySDS</title>
      
   </head>
   
   <body>
      
      <h1>RecipientEntitySDS (COCD_TP145021UK04)</h1>
      
      <p>Date: 2008-01-28 11:17:03</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145021UK04-NoEdit.htm#AssignedEntitySDS" coords="254, 133, 588, 223" shape="rect"></area>
         
         <area href="COCD_TP145021UK04-NoEdit.htm#Person" coords="406, 241, 735, 332" shape="rect"></area>
         
         <area href="COCD_TP145021UK04-NoEdit.htm#Organization" coords="0, 242, 272, 343" shape="rect"></area>
         
         <area href="COCD_TP145021UK04-NoEdit.htm" coords="305, 39, 522, 128" shape="rect"></area></map> <img border="0" src="images/COCD_TP145021UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>