<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Diagnosis</title>
      
   </head>
   
   <body>
      
      <h1>Diagnosis (COCD_TP146011UK04)</h1>
      
      <p>Date: 2007-08-03 11:26:00</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146011UK04-NoEdit.htm#Diagnosis" coords="575, 80, 884, 319" shape="rect"></area>
         
         <area href="COCD_TP146011UK04-NoEdit.htm#Diagnosis/author" coords="236, 103, 575, 196" shape="rect"></area>
         
         <area href="COCD_TP146011UK04-NoEdit.htm#Diagnosis/informant" coords="236, 240, 575, 308" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 248, 224, 296" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 113, 224, 161" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000007_ActRef.htm" coords="1230, 89, 1454, 161" shape="rect">
         
         <area href="COCD_TP146011UK04-NoEdit.htm#Diagnosis/entryRelationship" coords="884, 83, 1221, 163" shape="rect"></area>
         
         <area href="COCD_TP146011UK04-NoEdit.htm" coords="635, -3, 802, 75" shape="rect"></area></map> <img border="0" src="images/COCD_TP146011UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>