<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>RelatedEntity</title>
      
   </head>
   
   <body>
      
      <h1>RelatedEntity (COCD_TP145007UK03)</h1>
      
      <p>Date: 2007-08-03 11:24:29</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145007UK03-NoEdit.htm#RelatedEntity" coords="0, 92, 316, 180" shape="rect"></area>
         
         <area href="COCD_TP145007UK03-NoEdit.htm#Person" coords="316, 187, 642, 274" shape="rect"></area>
         
         <area href="COCD_TP145007UK03-NoEdit.htm" coords="77, -3, 224, 88" shape="rect"></area></map> <img border="0" src="images/COCD_TP145007UK03.png" usemap="#rmim0"></img>
      
   </body>
   
</html>