<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>AccommodationRef</title>
      
   </head>
   
   <body>
      
      <h1>AccommodationRef (COCD_TP147074UK01)</h1>
      
      <p>Date: 2007-11-08 12:51:00</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP147074UK01-NoEdit.htm#AccommodationRef" coords="0, 83, 336, 171" shape="rect"></area>
         
         <area href="COCD_TP147074UK01-NoEdit.htm" coords="62, -3, 269, 79" shape="rect"></area></map> <img border="0" src="images/COCD_TP147074UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>