<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>DIProcedure</title>
      
   </head>
   
   <body>
      
      <h1>DIProcedure (COCD_TP146077UK02)</h1>
      
      <p>Date: 2008-01-29 16:30:08</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146077UK02-NoEdit.htm#DIProcedure/author" coords="236, 102, 632, 195" shape="rect"></area>
         
         <area href="COCD_TP146077UK02-NoEdit.htm#DIProcedure" coords="632, 93, 940, 381" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 127, 224, 175" shape="rect">
         
         <area href="COCD_TP146077UK02-NoEdit.htm#DIProcedure/performer" coords="240, 283, 632, 364" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000003_Role.htm" coords="93, 290, 228, 338" shape="rect">
         
         <area href="COCD_TP146077UK02-NoEdit.htm" coords="636, -3, 814, 88" shape="rect"></area></map> <img border="0" src="images/COCD_TP146077UK02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>