<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Housing</title>
      
   </head>
   
   <body>
      
      <h1>Housing (COCD_TP146068UK01)</h1>
      
      <p>Date: 2007-09-18 16:40:44</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146068UK01-NoEdit.htm#Housing" coords="564, 84, 879, 487" shape="rect"></area>
         
         <area href="COCD_TP146068UK01-NoEdit.htm#Housing/author" coords="252, 88, 564, 181" shape="rect"></area>
         
         <area href="COCD_TP146068UK01-NoEdit.htm#Housing/performer" coords="241, 253, 564, 334" shape="rect"></area>
         
         <area href="COCD_TP146068UK01-NoEdit.htm#Housing/informant" coords="236, 412, 564, 480" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="28, 120, 240, 168" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 415, 224, 463" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="17, 281, 230, 329" shape="rect">
         
         <area href="COCD_TP146068UK01-NoEdit.htm" coords="620, -3, 850, 79" shape="rect"></area></map> <img border="0" src="images/COCD_TP146068UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>