<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>MentalEmotionalWellBeingRef</title>
      
   </head>
   
   <body>
      
      <h1>MentalEmotionalWellBeingRef (COCD_TP147070UK01)</h1>
      
      <p>Date: 2007-11-08 13:00:36</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP147070UK01-NoEdit.htm#MentalEmotionalWellBeingRef" coords="0, 96, 291, 197" shape="rect"></area>
         
         <area href="COCD_TP147070UK01-NoEdit.htm" coords="21, -3, 279, 91" shape="rect"></area></map> <img border="0" src="images/COCD_TP147070UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>