<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Discharge</title>
      
   </head>
   
   <body>
      
      <h1>Discharge (COCD_TP146038UK04)</h1>
      
      <p>Date: 2007-08-03 11:29:50</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146038UK04-NoEdit.htm#Discharge" coords="600, 87, 900, 375" shape="rect"></area>
         
         <area href="COCD_TP146038UK04-NoEdit.htm#Discharge/author" coords="288, 93, 600, 186" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000018_Act.htm" coords="12, 245, 242, 317" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="64, 114, 276, 162" shape="rect">
         
         <area href="COCD_TP146038UK04-NoEdit.htm#Discharge/entryRelationship" coords="262, 242, 600, 323" shape="rect"></area>
         
         <area href="COCD_TP146038UK04-NoEdit.htm" coords="668, -3, 823, 82" shape="rect"></area></map> <img border="0" src="images/COCD_TP146038UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>