<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>OrganizedFinding</title>
      
   </head>
   
   <body>
      
      <h1>OrganizedFinding (COCD_TP146017UK04)</h1>
      
      <p>Date: 2007-08-03 11:26:35</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146017UK04-NoEdit.htm#FindingOrganizer/author" coords="243, 94, 577, 187" shape="rect"></area>
         
         <area href="COCD_TP146017UK04-NoEdit.htm#FindingOrganizer/performer" coords="239, 302, 577, 383" shape="rect"></area>
         
         <area href="COCD_TP146017UK04-NoEdit.htm#FindingOrganizer/informant" coords="236, 468, 577, 536" shape="rect"></area>
         
         <area href="COCD_TP146017UK04-NoEdit.htm#FindingOrganizer" coords="577, 84, 869, 588" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000008_Act.htm" coords="1186, 281, 1414, 353" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="19, 123, 231, 171" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 483, 224, 531" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000003_Role.htm" coords="15, 325, 227, 373" shape="rect">
         
         <area href="COCD_TP146017UK04-NoEdit.htm#FindingOrganizer/component" coords="869, 272, 1177, 353" shape="rect"></area>
         
         <area href="COCD_TP146017UK04-NoEdit.htm" coords="641, -3, 855, 79" shape="rect"></area></map> <img border="0" src="images/COCD_TP146017UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>