<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Problem</title>
      
   </head>
   
   <body>
      
      <h1>Problem (COCD_TP146006UK04)</h1>
      
      <p>Date: 2007-08-03 11:25:33</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146006UK04-NoEdit.htm#Problem" coords="536, 112, 818, 248" shape="rect"></area>
         
         <area href="COCD_TP146006UK04-NoEdit.htm#Problem/author" coords="208, 114, 536, 207" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_ActRef.htm" coords="1163, 141, 1325, 222" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 143, 199, 191" shape="rect">
         
         <area href="COCD_TP146006UK04-NoEdit.htm#Problem/entryRelationship" coords="818, 127, 1155, 207" shape="rect"></area>
         
         <area href="COCD_TP146006UK04-NoEdit.htm" coords="609, 18, 777, 108" shape="rect"></area></map> <img border="0" src="images/COCD_TP146006UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>