<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>SupplyMedication</title>
      
   </head>
   
   <body>
      
      <h1>SupplyMedication (COCD_TP146033UK04)</h1>
      
      <p>Date: 2007-10-25 11:40:18</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146033UK04-NoEdit.htm#SupplyMedication" coords="582, 120, 855, 905" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#Material" coords="1282, 575, 1619, 676" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#ManufacturedProduct" coords="1146, 474, 1482, 561" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#SupplyMedication/product" coords="855, 517, 1147, 559" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#SupplyMedication/performer" coords="254, 281, 582, 348" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#SupplyMedication/receiver" coords="255, 533, 582, 600" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#SupplyMedication/entryRelationship" coords="855, 270, 1194, 338" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#SupplyInstructions" coords="1194, 246, 1511, 346" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#SupplyMedication/location" coords="242, 793, 582, 861" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#SupplyMedication/author" coords="255, 138, 582, 231" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#SupplyMedication/informant" coords="255, 652, 582, 719" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#SupplyMedication/entryRelationship2" coords="855, 141, 1206, 208" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000013_ActRef.htm" coords="1218, 123, 1446, 203" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="31, 150, 244, 198" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000003_Role.htm" coords="30, 287, 243, 335" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000025_Role.htm" coords="31, 546, 244, 709" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000004_Role.htm" coords="12, 805, 224, 853" shape="rect">
         
         <area href="COCD_TP146033UK04-NoEdit.htm#DaysSupply" coords="1197, 686, 1489, 799" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#MedicationQuantity" coords="1199, 806, 1526, 906" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#SupplyMedication/entryRelationship4" coords="855, 698, 1199, 766" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm#SupplyMedication/entryRelationship5" coords="855, 813, 1199, 881" shape="rect"></area>
         
         <area href="COCD_TP146033UK04-NoEdit.htm" coords="624, 38, 783, 115" shape="rect"></area></map> <img border="0" src="images/COCD_TP146033UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>