<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Service</title>
      
   </head>
   
   <body>
      
      <h1>Service (COCD_TP146021UK05)</h1>
      
      <p>Date: 2008-01-28 12:40:35</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146021UK05-NoEdit.htm#Service/performer" coords="247, 237, 571, 304" shape="rect"></area>
         
         <area href="COCD_TP146021UK05-NoEdit.htm#Service/responsibleParty" coords="236, 359, 571, 427" shape="rect"></area>
         
         <area href="COCD_TP146021UK05-NoEdit.htm#Service" coords="571, 105, 876, 633" shape="rect"></area>
         
         <area href="COCD_TP146021UK05-NoEdit.htm#Service/author" coords="247, 97, 571, 190" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="23, 129, 236, 177" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000021_Role.htm" coords="24, 252, 236, 300" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000006_Role.htm" coords="13, 363, 225, 411" shape="rect">
         
         <area href="COCD_TP146021UK05-NoEdit.htm#Service/informant" coords="236, 533, 571, 600" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 537, 224, 585" shape="rect">
         
         <area href="COCD_TP146021UK05-NoEdit.htm" coords="617, -3, 786, 100" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000027_ActRef.htm" coords="1234, 254, 1462, 326" shape="rect">
         
         <area href="COCD_TP146021UK05-NoEdit.htm#Service/entryRelationship" coords="876, 235, 1222, 316" shape="rect"></area></map> <img border="0" src="images/COCD_TP146021UK05.png" usemap="#rmim0"></img>
      
   </body>
   
</html>