<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>ProblemMemberAssertion</title>
      
   </head>
   
   <body>
      
      <h1>ProblemMemberAssertion (COCD_TP146008UK04)</h1>
      
      <p>Date: 2007-08-03 11:25:44</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146008UK04-NoEdit.htm#ProblemMemberAssertion/author" coords="236, 169, 578, 262" shape="rect"></area>
         
         <area href="COCD_TP146008UK04-NoEdit.htm#ProblemMemberAssertion" coords="578, 104, 862, 384" shape="rect"></area>
         
         <area href="COCD_TP146008UK04-NoEdit.htm#ProblemMemberAssertion/entryRelationship" coords="862, 113, 1201, 206" shape="rect"></area>
         
         <area href="COCD_TP146008UK04-NoEdit.htm#ProblemMemberAssertion/entryRelationship1" coords="862, 263, 1209, 356" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000003_ActRef.htm" coords="1213, 128, 1446, 200" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_ActRef.htm" coords="1221, 277, 1444, 349" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 191, 230, 239" shape="rect">
         
         <area href="COCD_TP146008UK04-NoEdit.htm" coords="641, -3, 818, 99" shape="rect"></area></map> <img border="0" src="images/COCD_TP146008UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>