<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>MedicationAdministrationCourseRef</title>
      
   </head>
   
   <body>
      
      <h1>MedicationAdministrationCourseRef (COCD_TP147030UK04)</h1>
      
      <p>Date: 2007-08-08 12:26:57</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP147030UK04-NoEdit.htm#MedicationAdministrationCourseRef" coords="341, 93, 649, 206" shape="rect"></area>
         
         <area href="COCD_TP147030UK04-NoEdit.htm" coords="350, -3, 634, 88" shape="rect"></area>
         
         <area href="COCD_TP147030UK04-NoEdit.htm#ManufacturedProduct" coords="0, 120, 168, 187" shape="rect"></area>
         
         <area href="COCD_TP147030UK04-NoEdit.htm#MedicationAdministrationCourseRef/consumable" coords="168, 130, 341, 159" shape="rect"></area>
         
         <area href="COCD_TP147030UK04-NoEdit.htm#Material" coords="8, 7, 143, 79" shape="rect"></area></map> <img border="0" src="images/COCD_TP147030UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>