<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>CustodianOrganization</title>
      
   </head>
   
   <body>
      
      <h1>CustodianOrganization (COCD_TP145018UK03)</h1>
      
      <p>Date: 2007-08-03 11:24:46</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145018UK03-NoEdit.htm#AssignedCustodian" coords="0, 94, 328, 151" shape="rect"></area>
         
         <area href="COCD_TP145018UK03-NoEdit.htm#CustodianOrganization" coords="79, 177, 399, 277" shape="rect"></area>
         
         <area href="COCD_TP145018UK03-NoEdit.htm" coords="22, -3, 214, 89" shape="rect"></area></map> <img border="0" src="images/COCD_TP145018UK03.png" usemap="#rmim0"></img>
      
   </body>
   
</html>