<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>TextSection</title>
      
   </head>
   
   <body>
      
      <h1>TextSection (COCD_TP146061UK02)</h1>
      
      <p>Date: 2007-11-02 11:29:08</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146061UK02-NoEdit.htm#Section1/component1" coords="29, 199, 331, 281" shape="rect"></area>
         
         <area href="COCD_TP146061UK02-NoEdit.htm#Section2" coords="114, 281, 450, 398" shape="rect"></area>
         
         <area href="COCD_TP146061UK02-NoEdit.htm#Section2/component2" coords="132, 398, 433, 480" shape="rect"></area>
         
         <area href="COCD_TP146061UK02-NoEdit.htm#Section3" coords="216, 480, 551, 597" shape="rect"></area>
         
         <area href="COCD_TP146061UK02-NoEdit.htm#Section3/component3" coords="233, 597, 527, 676" shape="rect"></area>
         
         <area href="COCD_TP146061UK02-NoEdit.htm#Section1" coords="0, 89, 354, 199" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="683, 118, 819, 166" shape="rect">
         
         <area href="COCD_TP146061UK02-NoEdit.htm#Section1/author" coords="354, 94, 671, 187" shape="rect"></area>
         
         <area href="COCD_TP146061UK02-NoEdit.htm#Section4" coords="312, 676, 642, 796" shape="rect"></area>
         
         <area href="COCD_TP146061UK02-NoEdit.htm#Section5" coords="386, 883, 688, 1008" shape="rect"></area>
         
         <area href="COCD_TP146061UK02-NoEdit.htm#Section4/component4" coords="309, 796, 611, 883" shape="rect"></area>
         
         <area href="COCD_TP146061UK02-NoEdit.htm#Section5/component5" coords="400, 1008, 702, 1099" shape="rect"></area>
         
         <area href="COCD_TP146061UK02-NoEdit.htm#Section6" coords="453, 1099, 825, 1224" shape="rect"></area>
         
         <area href="COCD_TP146061UK02-NoEdit.htm" coords="113, -3, 246, 84" shape="rect"></area></map> <img border="0" src="images/COCD_TP146061UK02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>