<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>BloodPressure</title>
      
   </head>
   
   <body>
      
      <h1>BloodPressure (COCD_TP146013UK04)</h1>
      
      <p>Date: 2007-08-03 11:26:14</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146013UK04-NoEdit.htm#BloodPressure/author" coords="236, 94, 567, 187" shape="rect"></area>
         
         <area href="COCD_TP146013UK04-NoEdit.htm#BloodPressure" coords="567, 94, 882, 382" shape="rect"></area>
         
         <area href="COCD_TP146013UK04-NoEdit.htm#BloodPressure/component2" coords="882, 107, 1196, 175" shape="rect"></area>
         
         <area href="COCD_TP146013UK04-NoEdit.htm#BloodPressure/component1" coords="882, 221, 1196, 289" shape="rect"></area>
         
         <area href="COCD_TP146013UK04-NoEdit.htm#SystolicPressure" coords="1196, 84, 1513, 184" shape="rect"></area>
         
         <area href="COCD_TP146013UK04-NoEdit.htm#DiastolicPressure" coords="1196, 209, 1514, 309" shape="rect"></area>
         
         <area href="COCD_TP146013UK04-NoEdit.htm#BloodPressure/informant" coords="251, 291, 567, 359" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="12, 125, 224, 173" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="27, 302, 240, 350" shape="rect">
         
         <area href="COCD_TP146013UK04-NoEdit.htm" coords="634, -3, 842, 89" shape="rect"></area></map> <img border="0" src="images/COCD_TP146013UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>