<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>AllergicOrAdverseReactionEvent</title>
      
   </head>
   
   <body>
      
      <h1>AllergicOrAdverseReactionEvent (COCD_TP146022UK04)</h1>
      
      <p>Date: 2007-08-03 11:27:06</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146022UK04-NoEdit.htm#AllergyEvent/author" coords="243, 90, 575, 183" shape="rect"></area>
         
         <area href="COCD_TP146022UK04-NoEdit.htm#AllergyEvent/informant" coords="242, 219, 575, 287" shape="rect"></area>
         
         <area href="COCD_TP146022UK04-NoEdit.htm#AllergyEvent/performer" coords="236, 326, 575, 406" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000010_ActRef.htm" coords="1279, 146, 1503, 218" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="19, 108, 231, 156" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000003_Role.htm" coords="12, 358, 224, 406" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="18, 243, 230, 291" shape="rect">
         
         <area href="COCD_TP146022UK04-NoEdit.htm#AllergyEvent" coords="575, 97, 926, 404" shape="rect"></area>
         
         <area href="COCD_TP146022UK04-NoEdit.htm#AllergyEvent/entryRelationship" coords="926, 137, 1268, 218" shape="rect"></area>
         
         <area href="COCD_TP146022UK04-NoEdit.htm" coords="629, -3, 847, 92" shape="rect"></area></map> <img border="0" src="images/COCD_TP146022UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>