<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>CarePlanComponent</title>
      
   </head>
   
   <body>
      
      <h1>CarePlanComponent (COCD_TP146076UK02)</h1>
      
      <p>Date: 2008-01-29 16:43:50</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent" coords="551, 80, 894, 721" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent/responsibleParty" coords="208, 199, 551, 279" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000031_Role.htm" coords="41, 210, 191, 384" shape="rect">
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent/entryRelationship4" coords="207, 661, 551, 729" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000023_ActRef.htm" coords="34, 677, 165, 749" shape="rect">
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent/entryRelationship3" coords="894, 92, 1238, 146" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#ComponentTextHeadingType" coords="1238, 64, 1546, 165" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent/performer" coords="208, 311, 551, 404" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent/entryRelationship" coords="894, 647, 1256, 715" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent/entryRelationship6" coords="205, 553, 551, 621" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000022_ActRef.htm" coords="37, 552, 188, 624" shape="rect">
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent/entryRelationship2" coords="894, 292, 1243, 372" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent/entryRelationship1" coords="894, 403, 1242, 483" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#LastComponentReview" coords="1243, 293, 1613, 381" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#NextComponentReview" coords="1242, 395, 1603, 483" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent/entryRelationship5" coords="894, 504, 1264, 585" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#ComponentPlannedEndDate" coords="1264, 501, 1603, 602" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent/author" coords="239, 78, 551, 171" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="50, 101, 228, 149" shape="rect">
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent/entryRelationship7" coords="894, 195, 1238, 249" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CAFInformationSet" coords="1238, 175, 1572, 263" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000024_ActRef.htm" coords="1268, 655, 1399, 727" shape="rect">
         
         <area href="COCD_TP146076UK02-NoEdit.htm" coords="604, -3, 813, 75" shape="rect"></area>
         
         <area href="COCD_TP146076UK02-NoEdit.htm#CarePlanComponent/informant" coords="159, 443, 551, 511" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 446, 147, 494" shape="rect"></map> <img border="0" src="images/COCD_TP146076UK02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>