<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>DiagnosticImagingOrder Tabular View</title><style type="text/css">
	table {empty-cells: show}
</style><script language="JavaScript1.2">
				
var isNew=0;
var isNS4=0;
var isIE4=0;

var brow=((navigator.appName) + (parseInt(navigator.appVersion)));

//alert(brow);
if (parseInt(navigator.appVersion)>=5)
{
	isNew=1
}
else
{
	if(brow=="Netscape4")
	{
		isNS4=1;
		document.captureEvents(Event.ONMOUSEOVER);
	}
	else
	{
		if(brow=="Microsoft Internet Explorer4")
		{
			isIE4=1;
		}
	}
		
}

// thats ok


if(isNS4||isIE4||isNew)
{
	docObj=(isNS4) ? 'document' : 'document.all';
	
	styleObj=(isNS4) ? ' ' : '.style';
}

function checkDOM(elementName)
{
	if(isNS4||isIE4||isNew)
	{
		dom=eval(docObj + '.' + elementName + styleObj);
		//alert('This browser uses the ' + dom + 'Document Object Model.');
		dom.left =0;
		dom.top =0;
	}
}

function popUp(evt,currElem)
{

	if((isNS4 && currElem !=0) || (isIE4 && currElem !=0))
	{
		dom =eval(docObj +'.' +currElem+styleObj);
		state=dom.visibility;
		if ((state == "visible") || (state=="show"))
		{
			dom.visibility="hidden";
		}
		else
		{
			if(isNS4)
			{
				topVal=eval(evt.pageY);
				leftVal=eval(evt.pageX);
				/*if(((document.body.scrollLeft+document.body.clientWidth)-leftVal)< 150)
				{
					leftVal=(document.body.clientWidth+document.body.scrollLeft-151);
				}
				if(((document.body.scrollTop+document.body.clientHeight)-topVal)< 30)
				{
					topVal=(document.body.clientHeight+document.body.scrollTop-80);
				}*/

			}
			if(isIE4)
			{
				topVal=eval(event.clientY)  + document.body.scrollTop+20;
				leftVal=eval(event.clientX) + document.body.scrollLeft;
				
				if(((document.body.scrollLeft+document.body.clientWidth)-leftVal)< 150)
				{
					leftVal=(document.body.clientWidth+document.body.scrollLeft-151);
				}
				if(((document.body.scrollTop+document.body.clientHeight)-topVal)< 30)
				{
					topVal=(document.body.clientHeight+document.body.scrollTop-80);
				}
			}
			if(leftVal < 2)
			{
				leftVal=2;
			}
			dom.top=topVal;
			dom.left=leftVal;
			dom.visibility="visible";
		}
	}
}

</script><style>
#ds
{
	position: absolute;
	visibility: hidden;
	z-index: 100;
	top: 10px;
	left: 10px;
}
#cwe
{
	position: absolute;
	visibility: hidden;
	z-index: 100;
	top: 10px;
	left: 10px;
}

#cne
{
	position: absolute;
	visibility: hidden;
	z-index: 100;
	top: 10px;
	left: 10px;
}

#maindiv {
	overflow: auto; 
	width: 100%; 
	height: 90%; 
	}


.hypertext
{
	position: absolute;
	background-color: white;
	layer-background-colour: cornflowerblue;
	padding: 3px;
	border: 3px solid blue;
	width: 150px;
	font:normal 10pt/13pt helvetica, sans-serif;
	text-align: left;
	color: blue;
}

.actclass
{
	background-color: red;
}

.entclass
{
	background-color: lightgreen;;
}

.roleclass
{
	background-color: yellow;;
}
.otherclass
{
	background-color: blue;
}
.choiceclass
{
	background-color: gray;
}
.actrelclass
{
	background-color: pink;
}
.partclass
{
	background-color: cyan;
}
.rolelinkclass
{
	background-color: lightyellow;
}

</style></head>
   <body onload="checkDOM('ds')">
      <h1>DiagnosticImagingOrder - tabular view</h1><span id="ds" class="hypertext">No Current Link To Vocabulary</span><span id="cwe" class="hypertext">Coded With Extensions</span><span id="cne" class="hypertext">Coded No Extensions</span><p><b>Mon Feb 25 09:32:06 GMT 2008</b></p>
      <table border="1px" frame="vsides" rules="cols" cellpadding="2" cellspacing="0" bordercolor="black">
         <tr bgcolor="black">
            <td height="4" colspan="10"></td>
         </tr>
         <tr>
            <td height="35" colspan="2"><a href="COCD_TP146080UK01.htm"><b>COCD_TP146080UK01</b></a></td>
            <td height="35" nowrap="yes"></td>
         </tr>
         <tr bgcolor="black">
            <td height="3" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td colspan="2" class="actclass"><a name="DIOrder"><b>DIOrder</b></a></td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  <b>Represents the order fulfilled by the report<br>
                     </b>
                  
               </div>
            </td>
         </tr>
         <tr bgcolor="black">
            <td height="3" colspan="10"></td>
         </tr>
         <tr class="mif">
            <td align="right" width="5%"></td>
            <td colspan="10"><font color="gray">Used by: </font><a href="#"><b></b></a></td>
         </tr>
         <tr bgcolor="gray">
            <td height="1" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td width="50%" colspan="2"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>classCode</b> (<a href="../../../Data Types/DataTypes.htm#CS"><b>CS</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a target="_top"><b>ActClass</b></a> } )<br> {<b> Fixed="<font color="red">ACT</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div contenteditable="false" style="height: 100%; width: 100%">Indicates that this is a act.</div>
                  
               </div>
            </td>
         </tr>
         <tr bgcolor="gray">
            <td height="1" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td width="50%" colspan="2"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>moodCode</b> (<a href="../../../Data Types/DataTypes.htm#CS"><b>CS</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a target="_top"><b>ActMood</b></a> } )<br> {<b> Fixed="<font color="red">RQO</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">Indicates that this is a request. </div>
            </td>
         </tr>
         <tr bgcolor="gray">
            <td height="1" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td width="50%" colspan="2"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>code</b> (<a href="../../../Data Types/DataTypes.htm#CV"><b>CV</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a href="../../../Vocabulary/DIOrderIdentifierCode.htm" target="_top"><b>DIOrderIdentifierCode</b></a> } )
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>A code from the vocabulary shown, describing the type of identifier carried in the DIOrder.id attribute<br>
                     
                  </p>
                  
                  <p>The Coded Value (CV) with CDA URL datatype/flavour shall be used to carry this information as follows: </p>
                  
                  <ul>
                     
                     <li>The <i>code</i> attribute shall contain a code from the relevant vocabulary                       
                     </li>
                     
                     <li>The <i>codeSystem</i> attribute shall contain the OID for the vocabulary                       
                     </li>
                     
                     <li>The <i>displayName</i> attribute shall carry the description associated with the code                       
                     </li>
                     
                     <li>The <i>originalText</i> element can be used to carry a <i>reference</i> element. This can link the coded item to the relevant text in the CDA section                       
                     </li>
                     
                  </ul>   Note the implementation guidance for the domain where this template is used should be consulted regarding correct usage
                  of the <i>originalText</i> element.  
               </div>
            </td>
         </tr>
         <tr bgcolor="gray">
            <td height="1" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td width="50%" colspan="2"><font color="green"><b>[1..1] </b></font><font color="green"><b> [R] </b></font><b>id</b> (<a href="../../../Data Types/DataTypes.htm#II"><b>II</b></a>)
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">This is a unique identifier for this instance of an Order fulfilled by the report.<br>
                  <br>
                  
                  <ul>
                     
                     
                     <li>The <i>root</i> attribute shall contain an OID with the appropriate<span style="font-size: 10pt; font-family: Arial"></span> value from the OID catalogue as identified by the DIOrder.code attribute                                           
                     </li>
                     
                     <li>the <i>extension</i> attribute shall contain the order idenitifier                                        
                     </li>
                     
                  </ul>
                  
               </div>
            </td>
         </tr>
         <tr bgcolor="gray">
            <td height="1" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td width="50%" colspan="2"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>templateId</b> (<a href="../../../Data Types/DataTypes.htm#II"><b>II</b></a>)<br> {<b> Fixed="<font color="red">COCD_TP146080UK01#DIOrder</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div contenteditable="false" style="height: 100%; width: 100%">
                     
                     <div>
                        
                        <p>The fixed value of this attribute provides a unique identifier for the  template and the classname within that template.</p>
                        
                        <p>The IdentifierExternal datatype flavour is used to carry this information as follows:</p>
                        
                        <ul>
                           
                           <li>The root attribute shall contain the OID "2.16.840.1.113883.2.1.3.2.4.18.2"</li>
                           
                           <li>The extension attribute shall contain the fixed value.</li>
                           
                        </ul>
                        
                     </div>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr bgcolor="gray">
            <td height="1" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td width="50%" colspan="2" class="partclass"><font color="green"><b>[0..1] </b></font><b><a id="DIOrder/device"></a>device</b></td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  <b>The device is used to carry the system ID of the system (typically the RIS) that generated the "Filler Order Number</b>" <br>
                  
               </div>
            </td>
         </tr>
         <tr bgcolor="gray">
            <td height="1" colspan="10"></td>
         </tr>
         <tr bgcolor="gray">
            <td height="1" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td width="50%" colspan="2"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>typeCode</b> (<a href="../../../Data Types/DataTypes.htm#CS"><b>CS</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a target="_top"><b>ParticipationType</b></a> } )<br> {<b> Fixed="<font color="red">DEV</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">Indicates this is a device<br>
                  
               </div>
            </td>
         </tr>
         <tr bgcolor="gray">
            <td height="1" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td width="50%" colspan="2"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>contextControlCode</b> (<a href="../../../Data Types/DataTypes.htm#CS"><b>CS</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a target="_top"><b>ContextControl</b></a> } )<br> {<b> Fixed="<font color="red">OP</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>Specifies how this author contributes to the context of the planned medication administration and whether it may be propagated
                     to descendent acts whose association allows  such propagation.                       
                  </p>
                  
                  <p>"O" (Overriding)- the association replaces any context of the same or more  specific type that has been conducted from the
                     parent act.                       
                  </p>"P"  (Propagating)- the association is conducted to all child acts where the  ActRelationship.contextConductionInd is set
                  to "true". 
               </div>
            </td>
         </tr>
         <tr bgcolor="gray">
            <td height="1" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td width="50%" colspan="2"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>contentId</b> (<a href="../../../Data Types/DataTypes.htm#II"><b>II</b></a>) {<b> "<a href="../Document%20files/NPFIT-000036_Role.htm"><font color="red">NPFIT-000036#Role</font></a>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div contenteditable="false" style="height: 100%; width: 100%">
                     
                     <div>
                        
                        <p>This attribute, when valued in an instance, provides a unique forward pointing identifier for a template which constrains
                           the classes and attributes which follow.                       
                        </p>
                        
                        <p>The attribute is intended simply as a structural navigational aid and should not be relied upon as an indicator of semantic
                           meaning.                      
                        </p>
                        
                        <p>The IdentifierExternal datatype flavour is used to carry this information as follows:</p>
                        
                        <ul>
                           
                           <li>The root attribute shall contain the OID "2.16.840.1.113883.2.1.3.2.4.18.16"</li>
                           
                           <li>The extension attribute shall contain the template artifact Id.</li>
                           
                        </ul>
                        
                     </div>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr bgcolor="gray">
            <td height="1" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td width="50%" colspan="2"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>templateId</b> (<a href="../../../Data Types/DataTypes.htm#II"><b>II</b></a>)<br> {<b> Fixed="<font color="red">COCD_TP146080UK01#device</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>The fixed value of this attribute provides a unique identifier for the  template and the classname within that template.</p>
                  
                  <p>The IdentifierExternal datatype flavour is used to carry this information as follows:</p>
                  
                  <ul>
                     
                     <li>The root attribute shall contain the OID "2.16.840.1.113883.2.1.3.2.4.18.2"</li>
                     
                     <li>The extension attribute shall contain the fixed value.</li>
                     
                  </ul>
                  
               </div>
            </td>
         </tr>
         <tr bgcolor="gray">
            <td height="1" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td width="50%" colspan="2"><font color="green"><b>[1..1] </b></font><b>participant</b> (<a href="#Issuer"><b>Issuer</b></a>)
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">A link to the filler order number issuer<br>
                  
               </div>
            </td>
         </tr>
         <tr bgcolor="black">
            <td height="3" colspan="10"></td>
         </tr>
         <tr valign="top">
            <td colspan="2" class="choiceclass"><a name="Issuer"><b>Issuer</b></a></td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">An abstract place holder for templates of a system typically the RIS<br>
                  
               </div>
            </td>
         </tr>
         <tr bgcolor="black">
            <td height="3" colspan="10"></td>
         </tr>
         <tr class="mif">
            <td align="right" width="5%"></td>
            <td colspan="10"><font color="gray">Used by: </font><a href="#DIOrder"><b>DIOrder</b></a></td>
         </tr>
         <tr bgcolor="gray">
            <td colspan="10" height="1"></td>
         </tr>
         <tr>
            <td colspan="2" width="50%"><font color="green"><b>[1..1] </b></font>: <b><a href="../Document%20files/NPFIT-000036_Role.htm">Template</a></b></td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">A link to templates of a device<br>
                  
               </div>
            </td>
         </tr>
         <tr bgcolor="black">
            <td height="4" colspan="10"></td>
         </tr>
      </table>
   </body>
</html>