<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>AuthorSDS</title>
      
   </head>
   
   <body>
      
      <h1>AuthorSDS (COCD_TP145001UK03)</h1>
      
      <p>Date: 2007-10-25 12:50:53</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145001UK03-NoEdit.htm#AssignedAuthorSDS" coords="112, 96, 448, 180" shape="rect"></area>
         
         <area href="COCD_TP145001UK03-NoEdit.htm#Person" coords="512, 208, 823, 292" shape="rect"></area>
         
         <area href="COCD_TP145001UK03-NoEdit.htm#Organization" coords="0, 210, 351, 311" shape="rect"></area>
         
         <area href="COCD_TP145001UK03-NoEdit.htm" coords="186, 19, 315, 91" shape="rect"></area></map> <img border="0" src="images/COCD_TP145001UK03.png" usemap="#rmim0"></img>
      
   </body>
   
</html>