<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>TextSection</title>
      
   </head>
   
   <body>
      
      <h1>TextSection (COCD_TP146061UK01)</h1>
      
      <p>Date: 2007-08-03 11:30:23</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146061UK01-NoEdit.htm#Section1/component1" coords="29, 199, 331, 281" shape="rect"></area>
         
         <area href="COCD_TP146061UK01-NoEdit.htm#Section2" coords="114, 281, 450, 387" shape="rect"></area>
         
         <area href="COCD_TP146061UK01-NoEdit.htm#Section2/component2" coords="132, 387, 433, 468" shape="rect"></area>
         
         <area href="COCD_TP146061UK01-NoEdit.htm#Section3" coords="216, 468, 551, 574" shape="rect"></area>
         
         <area href="COCD_TP146061UK01-NoEdit.htm#Section3/component3" coords="233, 574, 527, 650" shape="rect"></area>
         
         <area href="COCD_TP146061UK01-NoEdit.htm#Section1" coords="0, 89, 354, 199" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="683, 118, 819, 166" shape="rect">
         
         <area href="COCD_TP146061UK01-NoEdit.htm#Section1/author" coords="354, 94, 671, 187" shape="rect"></area>
         
         <area href="COCD_TP146061UK01-NoEdit.htm#Section4" coords="312, 650, 642, 756" shape="rect"></area>
         
         <area href="COCD_TP146061UK01-NoEdit.htm#Section5" coords="386, 843, 688, 949" shape="rect"></area>
         
         <area href="COCD_TP146061UK01-NoEdit.htm#Section4/component4" coords="309, 756, 611, 843" shape="rect"></area>
         
         <area href="COCD_TP146061UK01-NoEdit.htm#Section5/component5" coords="415, 949, 716, 1035" shape="rect"></area>
         
         <area href="COCD_TP146061UK01-NoEdit.htm#Section6" coords="453, 1035, 825, 1160" shape="rect"></area>
         
         <area href="COCD_TP146061UK01-NoEdit.htm" coords="113, -3, 246, 84" shape="rect"></area></map> <img border="0" src="images/COCD_TP146061UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>