<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>AlcoholIntake</title>
      
   </head>
   
   <body>
      
      <h1>AlcoholIntake (COCD_TP146003UK04)</h1>
      
      <p>Date: 2007-08-03 11:25:12</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146003UK04-NoEdit.htm#AlcoholIntake/author" coords="236, 107, 548, 200" shape="rect"></area>
         
         <area href="COCD_TP146003UK04-NoEdit.htm#AlcoholIntake/informant" coords="239, 253, 548, 320" shape="rect"></area>
         
         <area href="COCD_TP146003UK04-NoEdit.htm#AlcoholIntake" coords="548, 110, 861, 311" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 124, 224, 172" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="16, 239, 227, 287" shape="rect">
         
         <area href="COCD_TP146003UK04-NoEdit.htm" coords="595, -3, 780, 105" shape="rect"></area></map> <img border="0" src="images/COCD_TP146003UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>