<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>AuthorNonSDSWithOrgSDS</title>
      
   </head>
   
   <body>
      
      <h1>AuthorNonSDSWithOrgSDS (COCD_TP145003UK03)</h1>
      
      <p>Date: 2007-10-23 12:09:56</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145003UK03-NoEdit.htm#AssignedAuthor" coords="310, 84, 652, 190" shape="rect"></area>
         
         <area href="COCD_TP145003UK03-NoEdit.htm#Person" coords="626, 214, 969, 293" shape="rect"></area>
         
         <area href="COCD_TP145003UK03-NoEdit.htm#OrganizationSDS" coords="0, 220, 306, 324" shape="rect"></area>
         
         <area href="COCD_TP145003UK03-NoEdit.htm" coords="365, -3, 630, 79" shape="rect"></area></map> <img border="0" src="images/COCD_TP145003UK03.png" usemap="#rmim0"></img>
      
   </body>
   
</html>