<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Weight</title>
      
   </head>
   
   <body>
      
      <h1>Weight (COCD_TP146014UK04)</h1>
      
      <p>Date: 2007-08-03 11:26:19</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146014UK04-NoEdit.htm#Weight/author" coords="236, 114, 567, 207" shape="rect"></area>
         
         <area href="COCD_TP146014UK04-NoEdit.htm#Weight" coords="567, 106, 881, 485" shape="rect"></area>
         
         <area href="COCD_TP146014UK04-NoEdit.htm#Weight/informant" coords="236, 299, 567, 366" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="12, 135, 224, 183" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 308, 224, 356" shape="rect">
         
         <area href="COCD_TP146014UK04-NoEdit.htm" coords="670, -3, 801, 102" shape="rect"></area></map> <img border="0" src="images/COCD_TP146014UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>