<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>NonLingualCommunication</title>
      
   </head>
   
   <body>
      
      <h1>NonLingualCommunication (COCD_TP146099UK01)</h1>
      
      <p>Date: 2007-11-28 17:19:18</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146099UK01-NoEdit.htm#NonLingualCommunication" coords="140, 111, 424, 414" shape="rect"></area>
         
         <area href="COCD_TP146099UK01-NoEdit.htm#NonLingualCommunication/author" coords="424, 153, 753, 246" shape="rect"></area>
         
         <area href="COCD_TP146099UK01-NoEdit.htm#NonLingualCommunication/informant" coords="424, 297, 753, 365" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="765, 184, 976, 232" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="765, 318, 976, 366" shape="rect">
         
         <area href="COCD_TP146099UK01-NoEdit.htm" coords="184, -3, 366, 106" shape="rect"></area></map> <img border="0" src="images/COCD_TP146099UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>