<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>MedicationAdministrationCourse</title>
      
   </head>
   
   <body>
      
      <h1>MedicationAdministrationCourse (COCD_TP146030UK04)</h1>
      
      <p>Date: 2007-10-25 11:27:44</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse" coords="643, 193, 946, 1065" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse/author" coords="324, 313, 643, 406" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse/performer" coords="324, 195, 643, 263" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse/informant" coords="322, 522, 643, 590" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#Material" coords="278, 766, 615, 866" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#ManufacturedProduct" coords="0, 654, 316, 740" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse/consumable" coords="315, 673, 643, 714" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#AdministrationDetails" coords="1290, 795, 1626, 895" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse/entryRelationship1" coords="945, 818, 1290, 885" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse/location" coords="322, 946, 643, 1014" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse/entryRelationship3" coords="945, 1006, 1290, 1061" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000013_ActRef.htm" coords="1303, 173, 1534, 253" shape="rect">
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse/entryRelationship9" coords="945, 191, 1291, 259" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#DaysSupply" coords="1290, 571, 1583, 684" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationQuantity" coords="1294, 690, 1621, 791" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse/entryRelationship5" coords="945, 721, 1294, 789" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse/entryRelationship4" coords="945, 595, 1290, 662" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#AdministrationType" coords="1290, 1008, 1664, 1096" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000014_ActRef.htm" coords="1307, 346, 1535, 426" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000015_ActRef.htm" coords="1303, 471, 1531, 551" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="100, 337, 313, 385" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="98, 548, 310, 596" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000021_Role.htm" coords="100, 208, 313, 256" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000004_Role.htm" coords="92, 961, 304, 1009" shape="rect">
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse/entryRelationship8" coords="945, 322, 1295, 390" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm#MedicationAdministrationCourse/entryRelationship7" coords="945, 458, 1291, 525" shape="rect"></area>
         
         <area href="COCD_TP146030UK04-NoEdit.htm" coords="694, 88, 912, 188" shape="rect"></area></map> <img border="0" src="images/COCD_TP146030UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>