<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>RiskToPatient</title>
      
   </head>
   
   <body>
      
      <h1>RiskToPatient (COCD_TP146026UK04)</h1>
      
      <p>Date: 2007-08-03 11:27:28</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146026UK04-NoEdit.htm#RiskToPatient" coords="570, 94, 862, 372" shape="rect"></area>
         
         <area href="COCD_TP146026UK04-NoEdit.htm#RiskToPatient/author" coords="238, 99, 570, 192" shape="rect"></area>
         
         <area href="COCD_TP146026UK04-NoEdit.htm#RiskToPatient/informant" coords="236, 253, 570, 320" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000011_ActRef.htm" coords="1207, 118, 1435, 190" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="15, 118, 227, 166" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 262, 224, 310" shape="rect">
         
         <area href="COCD_TP146026UK04-NoEdit.htm#RiskToPatient/entryRelationship" coords="862, 106, 1200, 187" shape="rect"></area>
         
         <area href="COCD_TP146026UK04-NoEdit.htm" coords="611, -3, 819, 89" shape="rect"></area></map> <img border="0" src="images/COCD_TP146026UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>