<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>PersonalPreference</title>
      
   </head>
   
   <body>
      
      <h1>PersonalPreference (COCD_TP146020UK04)</h1>
      
      <p>Date: 2007-08-03 11:26:52</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146020UK04-NoEdit.htm#PersonalPreference" coords="485, 96, 826, 349" shape="rect"></area>
         
         <area href="COCD_TP146020UK04-NoEdit.htm#PersonalPreference/author" coords="162, 101, 485, 194" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 113, 153, 161" shape="rect">
         
         <area href="COCD_TP146020UK04-NoEdit.htm#PersonalPreference/informant" coords="172, 246, 485, 314" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="24, 248, 160, 296" shape="rect">
         
         <area href="COCD_TP146020UK04-NoEdit.htm" coords="467, -3, 706, 91" shape="rect"></area></map> <img border="0" src="images/COCD_TP146020UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>