<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>RefusalToSeal</title>
      
   </head>
   
   <body>
      
      <h1>RefusalToSeal (COCD_TP146044UK05)</h1>
      
      <p>Date: 2007-08-03 11:30:02</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146044UK05-NoEdit.htm#RefusalToSeal" coords="0, 105, 284, 507" shape="rect"></area>
         
         <area href="COCD_TP146044UK05-NoEdit.htm#RefusalReason" coords="601, 452, 840, 553" shape="rect"></area>
         
         <area href="COCD_TP146044UK05-NoEdit.htm#RefusalToSeal/component1" coords="284, 450, 601, 505" shape="rect"></area>
         
         <area href="COCD_TP146044UK05-NoEdit.htm#RefusalToSeal/component3" coords="284, 119, 600, 187" shape="rect"></area>
         
         <area href="COCD_TP146044UK05-NoEdit.htm#RequestToSeal" coords="600, 115, 898, 203" shape="rect"></area>
         
         <area href="COCD_TP146044UK05-NoEdit.htm#RequestToSeal/participant" coords="591, 203, 888, 296" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000011_Role.htm" coords="610, 320, 822, 368" shape="rect">
         
         <area href="COCD_TP146044UK05-NoEdit.htm" coords="23, -3, 249, 101" shape="rect"></area></map> <img border="0" src="images/COCD_TP146044UK05.png" usemap="#rmim0"></img>
      
   </body>
   
</html>