<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Height</title>
      
   </head>
   
   <body>
      
      <h1>Height (COCD_TP146015UK04)</h1>
      
      <p>Date: 2007-08-03 11:26:23</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146015UK04-NoEdit.htm#Height/author" coords="236, 94, 557, 187" shape="rect"></area>
         
         <area href="COCD_TP146015UK04-NoEdit.htm#Height" coords="557, 106, 871, 347" shape="rect"></area>
         
         <area href="COCD_TP146015UK04-NoEdit.htm#Height/informant" coords="236, 232, 557, 299" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="12, 112, 225, 160" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 237, 224, 285" shape="rect">
         
         <area href="COCD_TP146015UK04-NoEdit.htm" coords="661, -3, 789, 102" shape="rect"></area></map> <img border="0" src="images/COCD_TP146015UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>