<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>MedicationAdministrationDose</title>
      
   </head>
   
   <body>
      
      <h1>MedicationAdministrationDose (COCD_TP146029UK04)</h1>
      
      <p>Date: 2007-10-25 11:23:52</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationAdministrationDose" coords="649, 193, 951, 1065" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationAdministrationDose/author" coords="330, 313, 649, 406" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationAdministrationDose/performer" coords="330, 197, 649, 264" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationAdministrationDose/informant" coords="327, 522, 649, 590" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#Material" coords="290, 766, 627, 866" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#ManufacturedProduct" coords="0, 649, 336, 716" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationAdministrationDose/consumable" coords="336, 666, 649, 708" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#AdministrationDetails" coords="1296, 794, 1632, 895" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationAdministrationDose/entryRelationship1" coords="951, 818, 1296, 886" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationAdministrationDose/location" coords="327, 946, 649, 1014" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationAdministrationDose/entryRelationship3" coords="951, 1006, 1296, 1061" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000013_ActRef.htm" coords="1306, 173, 1536, 253" shape="rect">
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationAdministrationDose/entryRelationship9" coords="951, 192, 1295, 260" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationQuantity" coords="1300, 690, 1627, 791" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationAdministrationDose/entryRelationship5" coords="951, 722, 1300, 790" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#AdministrationType" coords="1296, 1008, 1670, 1096" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000014_ActRef.htm" coords="1313, 336, 1541, 416" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000015_ActRef.htm" coords="1309, 471, 1537, 551" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="106, 337, 319, 385" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="104, 548, 316, 596" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000021_Role.htm" coords="106, 208, 319, 256" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000004_Role.htm" coords="98, 961, 310, 1009" shape="rect">
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationAdministrationDose/entryRelationship8" coords="951, 317, 1301, 385" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm#MedicationAdministrationDose/entryRelationship7" coords="951, 458, 1297, 525" shape="rect"></area>
         
         <area href="COCD_TP146029UK04-NoEdit.htm" coords="707, 88, 911, 188" shape="rect"></area></map> <img border="0" src="images/COCD_TP146029UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>