<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      
      <title>ProtectionRegister</title>
      
   </head>
   
   <body>
      
      <h1>ProtectionRegister (COCD_TP146095UK02)</h1>
      
      <p>Date: 2008-02-12 15:26:34</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146095UK02-NoEdit.htm#ProtectionRegister" coords="704, 116, 1036, 666" shape="rect"></area>
         
         <area href="COCD_TP146095UK02-NoEdit.htm#ProtectionRegister/author" coords="1036, 147, 1349, 240" shape="rect"></area>
         
         <area href="COCD_TP146095UK02-NoEdit.htm#ProtectionRegister/informant" coords="1036, 292, 1353, 359" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="1361, 147, 1572, 195" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="1365, 281, 1577, 329" shape="rect">
         
         <area href="COCD_TP146095UK02-NoEdit.htm#AtRiskRegisterEntry" coords="0, 108, 338, 222" shape="rect"></area>
         
         <area href="COCD_TP146095UK02-NoEdit.htm#ProtectionRegisterCategory" coords="28, 235, 305, 361" shape="rect"></area>
         
         <area href="COCD_TP146095UK02-NoEdit.htm#ProtectionRegister/responsibleParty" coords="1036, 410, 1370, 477" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="1379, 408, 1591, 456" shape="rect">
         
         <area href="COCD_TP146095UK02-NoEdit.htm#ProtectionRegister/entryRelationship" coords="305, 256, 704, 323" shape="rect"></area>
         
         <area href="COCD_TP146095UK02-NoEdit.htm#ProtectionRegister/entryRelationship1" coords="338, 129, 704, 196" shape="rect"></area>
         
         <area href="COCD_TP146095UK02-NoEdit.htm" coords="758, -3, 986, 111" shape="rect"></area></map> <img border="0" src="images/COCD_TP146095UK02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>