<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>LegalResponsibility</title>
      
   </head>
   
   <body>
      
      <h1>LegalResponsibility (COCD_TP146092UK01)</h1>
      
      <p>Date: 2007-11-28 17:18:26</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146092UK01-NoEdit.htm#LegalResponsibility" coords="552, 95, 887, 402" shape="rect"></area>
         
         <area href="COCD_TP146092UK01-NoEdit.htm#LegalResponsibility/performer" coords="887, 148, 1208, 215" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000033_Role.htm" coords="1220, 151, 1356, 199" shape="rect">
         
         <area href="COCD_TP146092UK01-NoEdit.htm#LegalResponsibility/author" coords="236, 144, 552, 237" shape="rect"></area>
         
         <area href="COCD_TP146092UK01-NoEdit.htm#LegalResponsibility/informant" coords="243, 301, 552, 369" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="12, 170, 224, 218" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="19, 282, 231, 330" shape="rect">
         
         <area href="COCD_TP146092UK01-NoEdit.htm" coords="583, -3, 808, 90" shape="rect"></area></map> <img border="0" src="images/COCD_TP146092UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>