<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>CarePlan</title>
      
   </head>
   
   <body>
      
      <h1>CarePlan (COCD_TP146075UK02)</h1>
      
      <p>Date: 2008-01-25 16:39:01</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan/author" coords="201, 156, 528, 249" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan" coords="528, 129, 826, 1015" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000031_Role.htm" coords="28, 284, 178, 465" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 169, 189, 217" shape="rect">
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan/entryRelationship3" coords="826, 326, 1176, 407" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan/entryRelationship4" coords="826, 448, 1183, 529" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan/entryRelationship1" coords="826, 172, 1180, 240" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan/responsibleParty" coords="194, 290, 528, 370" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan/tracker" coords="219, 684, 528, 751" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm#LastCarePlanReview" coords="1176, 321, 1546, 408" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm#NextCarePlanReview" coords="1183, 449, 1535, 537" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="59, 690, 195, 738" shape="rect">
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan/entryRelationship5" coords="182, 802, 528, 869" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000021_ActRef.htm" coords="41, 813, 170, 885" shape="rect">
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan/entryRelationship7" coords="182, 926, 528, 993" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000020_Act.htm" coords="28, 934, 169, 1006" shape="rect">
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlanAgreement" coords="1189, 705, 1527, 792" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan/entryRelationship6" coords="826, 715, 1189, 783" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan/entryRelationship8" coords="826, 857, 1170, 925" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CopyProvidedFlag" coords="1170, 847, 1499, 934" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="45, 575, 181, 623" shape="rect">
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan/witness" coords="198, 565, 528, 645" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm#TextHeadingType" coords="1180, 160, 1507, 248" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm#CarePlan/performer" coords="195, 419, 528, 512" shape="rect"></area>
         
         <area href="COCD_TP146075UK02-NoEdit.htm" coords="604, 29, 729, 124" shape="rect"></area></map> <img border="0" src="images/COCD_TP146075UK02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>