<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>ContactStatus</title>
      
   </head>
   
   <body>
      
      <h1>ContactStatus (COCD_TP146090UK02)</h1>
      
      <p>Date: 2008-01-29 16:38:19</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146090UK02-NoEdit.htm#ContactStatus" coords="536, 116, 759, 346" shape="rect"></area>
         
         <area href="COCD_TP146090UK02-NoEdit.htm#ServiceUser" coords="0, 164, 224, 251" shape="rect"></area>
         
         <area href="COCD_TP146090UK02-NoEdit.htm#ContactStatus/subject" coords="224, 184, 536, 239" shape="rect"></area>
         
         <area href="COCD_TP146090UK02-NoEdit.htm#ContactStatus/author" coords="759, 121, 1086, 214" shape="rect"></area>
         
         <area href="COCD_TP146090UK02-NoEdit.htm#ContactStatus/informant" coords="759, 268, 1086, 336" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="1098, 158, 1310, 206" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="1098, 293, 1310, 341" shape="rect">
         
         <area href="COCD_TP146090UK02-NoEdit.htm" coords="545, -3, 753, 111" shape="rect"></area></map> <img border="0" src="images/COCD_TP146090UK02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>