<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Admission</title>
      
   </head>
   
   <body>
      
      <h1>Admission (COCD_TP146057UK02)</h1>
      
      <p>Date: 2008-01-29 11:45:41</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146057UK02-NoEdit.htm#AdmissionProcedure" coords="607, 97, 958, 667" shape="rect"></area>
         
         <area href="COCD_TP146057UK02-NoEdit.htm#AdmissionProcedure/author" coords="295, 106, 607, 199" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000007_Role.htm" coords="72, 132, 284, 180" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000019_ActRef.htm" coords="1318, 344, 1547, 438" shape="rect">
         
         <area href="COCD_TP146057UK02-NoEdit.htm#AdmissionProcedure/entryRelationship1" coords="958, 345, 1307, 425" shape="rect"></area>
         
         <area href="COCD_TP146057UK02-NoEdit.htm#AdmissionProcedure/entryRelationship2" coords="958, 532, 1303, 599" shape="rect"></area>
         
         <area href="COCD_TP146057UK02-NoEdit.htm#EstimatedDischargeDate" coords="1303, 520, 1584, 620" shape="rect"></area>
         
         <area href="COCD_TP146057UK02-NoEdit.htm#AdmissionProcedure/entryRelationship3" coords="259, 517, 607, 584" shape="rect"></area>
         
         <area href="COCD_TP146057UK02-NoEdit.htm#SourceOfPatient" coords="31, 512, 259, 599" shape="rect"></area>
         
         <area href="COCD_TP146057UK02-NoEdit.htm#MethodOfAdmission" coords="1299, 140, 1638, 215" shape="rect"></area>
         
         <area href="COCD_TP146057UK02-NoEdit.htm#AdmissionProcedure/entryRelationship4" coords="263, 372, 607, 440" shape="rect"></area>
         
         <area href="COCD_TP146057UK02-NoEdit.htm#ReAdmissionFlag" coords="0, 352, 264, 452" shape="rect"></area>
         
         <area href="COCD_TP146057UK02-NoEdit.htm#AdmissionProcedure/entryRelationship" coords="958, 146, 1299, 213" shape="rect"></area>
         
         <area href="COCD_TP146057UK02-NoEdit.htm" coords="711, -3, 851, 92" shape="rect"></area></map> <img border="0" src="images/COCD_TP146057UK02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>