<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>PlanMedicationAdministration</title>
      
   </head>
   
   <body>
      
      <h1>PlanMedicationAdministration (COCD_TP146031UK04)</h1>
      
      <p>Date: 2007-10-25 11:03:11</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146031UK04-NoEdit.htm#PlanMedicationAdministration" coords="604, 131, 906, 1151" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#Material" coords="37, 735, 374, 823" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#ManufacturedProduct" coords="0, 633, 276, 705" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#PlanMedicationAdministration/consumable" coords="276, 646, 604, 688" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#PlanMedicationAdministration/entryRelationship2" coords="906, 479, 1250, 546" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#DosageInstructions" coords="1254, 359, 1644, 446" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#AdditionalInstructions" coords="1250, 466, 1536, 567" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#PlanMedicationAdministration/author" coords="277, 188, 604, 281" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#LastMedicationAdministrationReview" coords="1262, 585, 1625, 699" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#PlanMedicationAdministration/informant" coords="287, 380, 604, 447" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#PlanMedicationAdministration/location" coords="283, 941, 604, 1008" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#PlanMedicationAdministration/entryRelationship1" coords="906, 377, 1254, 444" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#PlanMedicationAdministration/entryRelationship" coords="906, 133, 1271, 214" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#SupplyMedication" coords="1271, 95, 1640, 221" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#NextMedicationAdministrationReview" coords="1259, 718, 1625, 831" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#PlanMedicationAdministration/entryRelationship3" coords="906, 599, 1262, 679" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#PlanMedicationAdministration/entryRelationship4" coords="906, 741, 1259, 822" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000016_Act.htm" coords="1267, 264, 1490, 311" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000014_ActRef.htm" coords="1272, 1023, 1497, 1103" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="53, 217, 266, 265" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="63, 390, 275, 438" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000004_Role.htm" coords="53, 948, 265, 996" shape="rect">
         
         <area href="COCD_TP146031UK04-NoEdit.htm#PlanMedicationAdministration/entryRelationship6" coords="906, 1013, 1260, 1093" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm#PlanMedicationAdministration/entryRelationship7" coords="906, 240, 1255, 321" shape="rect"></area>
         
         <area href="COCD_TP146031UK04-NoEdit.htm" coords="629, 39, 864, 126" shape="rect"></area></map> <img border="0" src="images/COCD_TP146031UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>