<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>ProvisionOfAdviceAndInformation</title>
      
   </head>
   
   <body>
      
      <h1>ProvisionOfAdviceAndInformation (COCD_TP146023UK04)</h1>
      
      <p>Date: 2007-08-03 11:27:11</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146023UK04-NoEdit.htm#ProvisionOfAdviceAndInformation/author" coords="236, 107, 557, 200" shape="rect"></area>
         
         <area href="COCD_TP146023UK04-NoEdit.htm#ProvisionOfAdviceAndInformation" coords="557, 110, 883, 389" shape="rect"></area>
         
         <area href="COCD_TP146023UK04-NoEdit.htm#ProvisionOfAdviceAndInformation/receiver" coords="240, 292, 557, 359" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000001_Role.htm" coords="12, 126, 224, 174" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="16, 308, 229, 356" shape="rect">
         
         <area href="COCD_TP146023UK04-NoEdit.htm" coords="588, -3, 815, 105" shape="rect"></area></map> <img border="0" src="images/COCD_TP146023UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>