<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Accessor</title>
      
   </head>
   
   <body>
      
      <h1>Accessor (COCD_TP145023UK01)</h1>
      
      <p>Date: 2007-08-03 11:24:55</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145023UK01-NoEdit.htm#Accessor" coords="1, 91, 341, 153" shape="rect"></area>
         
         <area href="COCD_TP145023UK01-NoEdit.htm#Entity" coords="0, 198, 352, 273" shape="rect"></area>
         
         <area href="COCD_TP145023UK01-NoEdit.htm" coords="92, -3, 262, 86" shape="rect"></area></map> <img border="0" src="images/COCD_TP145023UK01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>