<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Temperature</title>
      
   </head>
   
   <body>
      
      <h1>Temperature (COCD_TP146016UK04)</h1>
      
      <p>Date: 2007-08-03 11:26:28</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146016UK04-NoEdit.htm#Temperature/author" coords="236, 133, 557, 226" shape="rect"></area>
         
         <area href="COCD_TP146016UK04-NoEdit.htm#Temperature" coords="557, 97, 871, 481" shape="rect"></area>
         
         <area href="COCD_TP146016UK04-NoEdit.htm#Temperature/informant" coords="236, 309, 557, 376" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000005_Role.htm" coords="12, 161, 224, 209" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000002_Role.htm" coords="12, 324, 224, 372" shape="rect">
         
         <area href="COCD_TP146016UK04-NoEdit.htm" coords="649, -3, 806, 92" shape="rect"></area></map> <img border="0" src="images/COCD_TP146016UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>