
h1 {
	font: 80% Verdana, "New York", Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: blue;
}
table { 
	font: 80% Verdana, "New York", Arial, Helvetica, sans-serif;
	font-size: 105%;
	color: #000;
	background: #eee;
	text-align: left;
	border-collapse: collapse;
	border: 2px solid #27a0bd;
	border-top: none;	
}
table a {
	text-decoration: none;
	color: #105c6e;
}
table a:visited {
	text-decoration: none;
}
table a:hover, table a:active {
	background-color: #008eb1;
	text-decoration: none;
	color: #eee;
}
thead th {
	font-size: 105%;
	color: #eee;
	background-color: #27a0bd;
	border-bottom: 2px solid #008eb1;
}

tr {
	vertical-align: top;
}
tr,th,td {
	padding: .75em;

}

tr.odd td, tr.odd th {
	background-image: url(tealbg.gif);
	background-repeat: repeat;
}

td.small a {
	font-size: 95%;
}

#crlog {
	font: 80% Verdana, "New York", Arial, Helvetica, sans-serif;
	font-size: 85%;
	color: #000;
	text-align: left;
	border-collapse: collapse;
	border: 2px solid black;	
}

#crlog thead th {
	font-size: 105%;
	color: #333;
	background-color: #ccc;
	border-bottom: 2px solid black;
}

ul {
        margin: 0 0 0 0;
        padding: 0;
        list-style: square;
}

li a {
        text-decoration: none;
        display: block;
}

.navbottom {
	border-bottom: 1px dotted #27a08d;
}