body
{
    font-family: Arial;
}

h1
{
    font-size:larger;
    font-weight:bold;
}

h2
{
    font-size:large;
    font-style:italic;
    font-weight:bold;
}

table
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-bottom: black 1px solid;
    border-collapse: collapse;
    width: 100%;
}

table.docheader
{
    font-size: 8pt;
    vertical-align: center;
}

tbody
{
    font-size: smaller;
}

td, th
{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 3pt 3pt 3pt 3pt;
    vertical-align: top;
}

tr.abstract
{
    font-weight:bold;
    margin-left: 5px;
}

a.abstract
{
    margin-left: 5px;
}

thead
{
    background: #E5E5E5;
}